@import '../common/variables';
@import '../common/styles/commonStyles';

/*
**    Content Wrapper
*/
#home-page-wrapper {
  width: 85%;
  margin: 0 auto;
}

/*
** Objectives
*/
#objectives {
  .home-objective {
    padding: 5px 15px;
    margin-bottom: 5px;
    background: lighten($color-blue-grey, 52%);
    border: 1px solid #99bce0;
    border-left: 10px solid lighten($primary-color, 20%);

    .name {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
    }
    .description {
      margin-bottom: 10px;
    }
    .key-results {
      margin: 0 0 5px 10px;
      .key-results-arrow {
        padding-left: 5px;
      }
      .change {
        color: $color-blue;
        cursor: pointer;
        font-weight: bold;
      }

      .key-result-details span {
        color: #000;
        cursor: inherit;
        padding: 0 15px 0 0;

      }
      .display {
        display: block;
      }
      .undisplay {
        display: none;
      }
      .key-result-details-ul {
        margin: 15px 0 0;
        padding-left: 5px;
        display: table;

        li {
          display: table-row;
          height: 30px;

          div {

            display: table-cell;

          }
          .score {
            display: inline-block;
            background: $color-green;
            border: 1px solid $color-green;
            border-radius: .3em;
            padding: 1px 2px 3px 2px;
            height: 1.2em;
            width: 2em;
            line-height: 1.5em;
            text-align: center;
            font-weight: bold;
            color: $color-white;
          }
          .keyScore {
            -webkit-appearance: none;
            background: none;
            width: 100px;
            margin: 0;
            margin-right: 10px;

            /* tracker */
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background: #ffffff;
            &:focus {
              outline: none;
            }
            &::-moz-range-track {
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              height: 7px;
              border: 1px solid #bdc3c7;
              background: #ffffff;
            }
            /* tracker thumb */
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              background-color: #ecf0f1;
              border: 1px solid #bdc3c7;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              cursor: pointer;
            }
            &::-moz-range-thumb {
              -webkit-appearance: none;
              background-color: #ecf0f1;
              border: 1px solid #bdc3c7;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              cursor: pointer;
            }
            /* when focus */
            &:active {
              &::-webkit-slider-thumb {
                box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
              }
              &::-moz-range-thumb {
                box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
              }
            }

          }
        }
        .completed {
          text-decoration: line-through;
        }
      }
    }

    .objective-info {
      margin-left: 40%;

      div {
        display: inline-block;
        margin-right: 15%;
      }
      div:last-child {

        margin-right: 0;
      }

      .co-workers {
        position: relative;
        padding-right: 5px;
        font-size: 20px;
        span {
          position: absolute;
          top: 5px;
          left: 30px;
        }
      }
      .followed {
        position: relative;
        padding: 0 5px 0 30px;
        font-size: 20px;
        span {
          position: absolute;
          top: 5px;
          left: 30px;
        }
      }
    }
  }
}

.category {

  p {
    color: #aaaaaa;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 4px;
    width: 100%;
    margin: 30px auto;
  }

  .category-title {
    text-transform: capitalize;
    display: inline-block;
    padding: 10px;
    position: relative;
    background: lighten($color-blue-grey, 50%);
  }

  p:before {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid #aaaaaa;
  }

}
