@import '../common/variables';
@import '../common/styles/commonStyles';

#home-page-wrapper{
  width: 85%;
  margin: 0 auto;
}

/*
** Quarter section
*/
#top-bar{
  margin-bottom: 30px;

  .business-year{
    padding: 5px 33px;
    border: 2px solid #607D8B;
    display: inline-block;
  }
}

#quarter-bar{
  @extend .clearfix;
}

#manage-bar{
  @extend .clearfix;
  margin-bottom: 20px;

  button#add-new-objective{
    @extend .btn;
    @extend .btn-green;
    display: block;
    float: right;
    color: #ffffff;
    padding: 10px 15px;
    i{
      margin-right: 10px;
    }
  }
}

#quarter-list{
  background-color: transparent;
  list-style-type: none;
  float: right;
  padding: 0;
  li:not(:first-child){
    display: inline-block;
    border: 2px solid #607D8B;
    padding: 6px 35px;
    text-align: center;
    white-space: nowrap;
    margin-left: -2px;
    cursor: pointer;
    &:last-child{
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
    &:hover{
      background-color: #607D8B;
      color: #fff;
    }
    &.active{
      background-color: #607D8B;
      color: #fff;
    }
  }
  li:first-child{
    display: inline-block;
  }
}

/*
** Objectives
*/
#objectives{
.home-objective{
  padding: 5px 15px;
  margin-bottom: 5px;
  background: lighten($color-blue-grey, 52%);
  border: 1px solid #99bce0;
  border-left: 10px solid lighten($primary-color, 20%);

  .name{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  .description {
    margin-bottom: 10px;
  }
  .key-results{
    margin: 0px 0px 5px 10px;
    span{
      padding-left: 5px;
    }
    .change{
      color: #0080ff;
      cursor: pointer;
    }

    .key-result-details span{
      color: #000;
      cursor: inherit;
      padding: 0 15px 0 0;

    }
    .display{
      display: block;
    }
    .undisplay{
      display: none;
    }
    ul {
      margin: 15px 0 0;
        padding-left: 5px;
        display: table;


      li{
        display: table-row;
          height: 30px;

        div{

          display: table-cell;

        }
         .score{
              display: inline-block;
               width: 20px;
              text-align: center;
              background: lighten($color-blue-grey, 50%);;
            border: 1px solid $color-blue-grey;
            border-radius: 3px;
            padding: 2px;
            }
          .keyScore{
            -webkit-appearance: none;
            background: none;
            width: 100px;
            margin: 0;
            margin-right: 10px;


            /* tracker */
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            height: 7px;
            border: 1px solid #bdc3c7;
            background: #ffffff;
            &:focus{
              outline: none;
            }
            &::-moz-range-track{
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              height: 7px;
              border: 1px solid #bdc3c7;
              background: #ffffff;
            }
            /* tracker thumb */
            &::-webkit-slider-thumb{
              -webkit-appearance: none;
              background-color: #ecf0f1;
              border: 1px solid #bdc3c7;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              cursor: pointer;
            }
            &::-moz-range-thumb{
              -webkit-appearance: none;
              background-color: #ecf0f1;
              border: 1px solid #bdc3c7;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              cursor: pointer;
            }
            /* when focus */
            &:active{
              &::-webkit-slider-thumb{
                box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
              }
              &::-moz-range-thumb{
                box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
              }
            }

          }
      }
      .completed{
        text-decoration: line-through;
      }
    }
  }
      .progress-bar{
      float: right;
      padding-top: 10px;
      width: 30%;
      position: relative;
      margin-right: 40px;


      .progressValue {
          z-index: 0;
          display: inline-block;
          position: absolute;
          width: 50px;
          height: 16px;
          right: -42px;
          font-size: 12px;
          background-color: #aaa;
          color: #fff;
          box-sizing: border-box;
          padding: 1.5px 12px 0 12px;
          border-radius: 0 10px 10px 0;

      }

      progress[value]{
        position: relative;
        z-index:1;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
      }
    }
    ::-webkit-progress-bar {
      border: none;
      border-radius: 10px ;
        background: #eee;
    }
    ::-webkit-progress-value {
      border-radius: 10px;
        background: #4CAF50;
    }
    ::-moz-progress-bar {
        background: #4CAF50;
        border: none;
    }
    ::-moz-progress-value {
        background: #7fda57;
    }
  .objective-info {
    margin-left: 40%;

    div {
      display: inline-block;
      margin-right: 15%;
    }
    div:last-child{

      margin-right: 0;
    }

    .co-workers{
        position: relative;
          padding-right: 5px;
          font-size: 20px;
        span {
            position: absolute;
            top: 5px;
            left: 30px;
        }
      }
      .followed{
        position: relative;
          padding: 0 5px 0 30px;
          font-size: 20px;
        span {
            position: absolute;
            top: 5px;
            left: 30px;
        }
      }
  }
}
}

.category{

  p {
    color: #aaaaaa;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 4px;
    width: 100%;
    margin: 30px auto;
  }

  p > span {
    display: inline-block;
    padding: 10px;
    position: relative;
    background: lighten($color-blue-grey, 50%);
    z-index: 10;
  }

  p:after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid #aaaaaa;
    z-index: 0;
  }

}
