@import "../common/variables";
@import '../common/styles/commonStyles';

.keyresult-group{

  section{
    padding-bottom: 10px;
    width: 100%;
    display: table;

    div{
      display: table-cell;
      width: 100%;

      .input-key-result {
        width: 100%;
        padding: .5em 1em;
        box-sizing: border-box;
      }

      .add-button-key-result{
        padding: .5em 1em;
        margin: 0 0 0 .5em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-sizing: border-box;
      }

      .delete-button-key-result{
        padding: .5em 1em;
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-sizing: border-box;
      }
    }
  }




}
