@import "../common/variables";
@import '../common/styles/commonStyles';

section {
  padding-bottom: 10px;
  width: 100%;
  display: table;

  div {
    display: table-cell;
    width: 100%;

    .delete-button-key-result {
      padding: .5em 1em;
      margin: 0 0 0 .5em;
      box-sizing: border-box;
    }
  }
}


