@import "../common/variables";
@import '../common/styles/commonStyles';

#new-obj-keyresults {
  margin-bottom: 25px;
  list-style-type: none;
  border: 1px solid #c5c5c5;
  border-top: none;
  background-color: #eaeaea;
  padding: 10px 15px;

  .add-new-keyresult-btn {
    display: inline-block;
    cursor: pointer;
    color: $color-green;
    &:hover {
      color: darken($color-green, 10%);
      text-decoration: underline;
    }
  }
}