@import "../common/variables";
@import '../common/styles/commonStyles';

#new-obj-keyresults {
  margin: 0;
  margin-bottom: 25px;
  list-style-type: none;
  padding: 0;
  width: 100%;

  .add-new-keyresult-btn {
    display: inline-block;
    cursor: pointer;
    color: $color-green;
    &:hover {
      color: darken($color-green, 10%);
      text-decoration: underline;
    }
  }
}