@import '../common/styles/commonStyles';

$main-color: #607D8B;

/*
**    Quarter bar
*/

#quarter-bar{

  #business-year{
    float: left;
    padding: 6px 10px;
    width: 120px;
    border-radius: 3px 0 0 3px;
    border: 1px solid $main-color;
  }
}

#quarter-bar ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  margin-left: 90px;
  padding: 0;

  li{
    flex: 1 0 100px;
    border: 1px solid #bbb;
    padding: 7px 10px;
    text-align: center;

    &:last-child{
      border-radius: 0 3px 3px 0;
    }

    &:not(:first-child),
    &.exist:not(:first-child){
      border-left: none;
    }
  }

  li.exist{
    border: 1px solid $main-color;
    color: $main-color;
    background: #fff;
    cursor: pointer;

    &:hover{
      background: $main-color;
      color: #fff;
    }
  }

  li.selected{
    background: $main-color;
    color: #ffffff;
  }

  /* for none existed */
  li:not(.exist){
  }
  li:not(.exist) a{
    color: #bbb;
    text-decoration: none;
    &:hover{
      color: #2196F3;
      text-decoration: underline;
    }
  }
}