@import '../../common/styles/table.scss';

body { 
	overflow-y:hidden 
}

.recycle-bin-header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	.recycle-bin-title {
		width: 30%;
		display: flex;
		justify-content: center;
		font-size: 28px;
		font-weight: bold;
	}

	.recycle-bin-header-row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		
		& .filter-panel {
			width: 70%;
			display: flex;
			justify-content: flex-end;
		}

		& .recycle-bin-filter-bar-container {
			width: 100%;
		}

		& p {
			box-sizing: border-box;
			color: #aaaaaa;
			font-size: 16px;
			text-align: center;
			position: relative;
			padding-top: 0;
			padding-bottom: 0px;
			width: 100%;
			margin: 0 auto;
			font-size: 20px;
			min-width: 1100px;
			padding: 4px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 15px;
				left: 0;
				height: 0;
				width: 100%;
				border-top: 1px solid #aaaaaa;
				z-index: 0;
			}

			& span {
				display: inline-block;
				padding: 0 15px;
				position: relative;
				background: #f3f6f7;
				z-index: 10
			}
		}

		& button {
			& i.flaticon-1-arrow-down,
			& i.flaticon-1-arrow-up {
				font-size: 10px;
			}
		}
	}
	
	button.btn-filter:focus{
		background-color: darken($color-blue, 10%);
		color: #fff;
	}
}

#rec-bin-wrapper {
	box-sizing: border-box;
	padding: 30px;
	overflow-y: hidden;
	
	& .no-hover { background: none; border:none;}
	
	& .not-display { display: none; }
	
	& .item-deleted-by { white-space: nowrap;}
	
	& .no-wrap { white-space: nowrap; }
	
	& .width-20perc { width: 20%; }

	& .width-15perc {
		width: 16%;
		white-space: nowrap
	}

	& .width-30perc { width: 25%; }

	& .width-5perc { 
		width: 60px; 
		padding: 4px;
		button{
			padding: 7px 16px;
		}
		button:focus{
			background-color: $color-blue;
			color: #fff;
		}
		i{
			font-size: 20px;
		}
	}

	& .width-85perc {
		width: 100%;
		margin: 0 auto;
	}

	& td span { display: block; }

	& #date-field {
		margin-right: 7px;
	}

	& #title-field {
		margin-right: 7px;
	}

	& th.width-15perc { cursor: pointer; }

	& .item-category {
		display: inline-block;
		font-size: 14px;
	}

	& .btn-blue { margin-bottom: 12px; }

	& .filter-table {
		width: 100%;
		min-width: 1100px;
		margin: 0 auto;
		margin-top: 5px;

		& tbody {
			table-layout: fixed;
			display: block;
			overflow-y: overlay;
		}

		& th { white-space: nowrap; }

		& td { 
			text-overflow: ellipsis; 

			& button { margin-left: -5px; }
		}

		& tr {
			display: table;
			width: 99.99%;
			table-layout: fixed;
			background: #FFF;
		}

		& tr:hover {
			 background-color: #ECEFF1;
		}
	}
}

.margin-left-3px { margin-left: 3px; }

.cursor-pointer { cursor: pointer; }

.filter-box {
	height: 59px;
	display: inline-block;

	& > div {
		margin: 0 10px;
		float: left;
	}
}

.recucle-bin-filter-bar-container {
	
	width: 100%;

	.recycle-bin-filter-bar {
		padding: 12px;
		background-color: #fff;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		color: #777777;
		width: 100%;
		margin: 0 auto;
		min-width: 1100px;
	}

	.recycle-bin-filter-bar-input {
		width: auto;
	}

	.date-from {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		float: right;
		width: 70px;
	}

	.date-to {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-left-width: 0 !important;
		float: left;
		width: 70px;
	}

	.date-field {
		float: left;
		margin: 5px;
	}

	.filter-box label {
		line-height: 60px;
	}

	.recycle-bin-filter-table {

		font-size: 14px;
		display: inline-block;

		td {
			vertical-align: middle !important;
			padding: 10px;
		}

		.cell-right-align {
			text-align: right;
		}
		label {
			font-size:12px;
			border-radius: 20px;
		}
	}

	.show-container {
		display: block;
		padding: 0;
		height: 59px;
		text-align: center;
	}

	.hide-container {
		display: none;
	}

}

.react-date-field__calendar-icon {
	display: none;
}

#admin-recycle-bin .recucle-bin-filter-bar-container {

	.filter-box {
		display: block;
		width: 934px;
		height: auto;
		margin: 0 auto;
		margin-top: 12px;
	}

	.filter-box label {
		line-height: normal;
	}

	.show-container {
		height: 92px;
	}

	.recycle-bin-filter-table {
		font-size:14px;
		margin: 0 auto;
		display: table;
	}
}

@media all and (max-width: 1460px) {

	.recucle-bin-filter-bar-container {

		.filter-box {
			display: block;
			width: 934px;
			height: auto;
			margin: 0 auto;
			margin-top: 12px;
		}

		.filter-box label {
			line-height: normal;
		}

		.show-container {
			height: 92px;
		}

		.recycle-bin-filter-table {
			font-size:14px;
			margin: 0 auto;
			display: table;
		}
	}

}
