/*
**  Breakpoints
*/
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;


/* Mobile */
@mixin mobile {
  @media screen and ( max-width: #{$mobile} ) {
    @content;
  }
}

/* Tablet */
@mixin tablet {
  @media screen
  and ( min-width: #{$mobile} )
  and ( max-width: #{$tablet} ) {
    @content;
  }
}

/* Laptops */
@mixin laptop {
  @media screen
  and ( min-width: #{$tablet} )
  and ( max-width: #{$laptop} ) {
    @content;
  }
}

/* Desktops */
@mixin desktop {
  @media screen
  and ( min-width: #{$laptop} )
  and ( max-width: #{$desktop} ) {
    @content;
  }
}

/* Large desktops */
@mixin desktopL {
  @media screen
  and ( min-width: #{$desktop} ) {
    @content;
  }
}

/*  > Example:
**
**    @inclue mobile{
**      .home-objective{ genearal styles go here }
**    }
**
**  > See also common/objective/media.scss
**
*/