@import "../variables";

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #CFD8DC;
  color: #555;
  text-align: center;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  border: none;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.btn:hover {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, .5);
}

.btn:active {
  -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.15);
}

.btn-blue,
.btn-green,
.btn-red,
.btn-purple,
.btn-blue-grey {
  color: #fff;
}

.btn-blue-grey {
  background-color: $color-blue-grey;

  &:hover {
    background-color: darken($color-blue-grey, 10%);
  }
}

.btn-blue {
  background-color: $color-blue;

  &:hover {
    background-color: darken($color-blue, 10%);
  }
}

.btn-green {
  background-color: $color-green;

  &:hover {
    background-color: darken($color-green, 10%);
  }
}

.btn-red {
  background-color: $color-red;

  &:hover {
    background-color: darken($color-red, 10%);
  }
}

.btn-purple {
  background-color: $color-purple;

  &:hover {
    background-color: darken($color-purple, 10%);
  }
}

.btn-blue-hover:hover,
.btn-green-hover:hover,
.btn-purple-hover:hover,
.btn-red-hover:hover,
.btn-blue-grey-hover:hover {
  color: #fff;
}

.btn-blue-grey-hover {
    &:hover {
      background-color: darken($color-blue-grey, 10%);
  }
}

.btn-blue-hover {
    &:hover {
      background-color: darken($color-blue, 10%);
  }
}

.btn-green-hover {
    &:hover {
      background-color: darken($color-green, 10%);
  }
}

.btn-red-hover {
    &:hover {
      background-color: darken($color-red, 10%);
  }
}

.btn-purple-hover {
    &:hover {
      background-color: darken($color-purple, 10%);
  }
}

