input[type=text],
select,
textarea{
	border: 1px solid #d3d3d3;
	padding: 5px;
	color: #777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;

	&:focus {
		outline: none;
		-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	}
}
textarea{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;;
}
.range {
	-webkit-appearance: none;
	background: none;
	width: 100px;

	&:focus{
		outline: none;
	}
	&::-webkit-slider-runnable-track{
		-webkit-border-radius: 4px;
		-moz-border-radius: 3px;
		border-radius: 4px;
		height: 6px;
		background: #ffffff;
	}

	&::-moz-range-track{
		-webkit-border-radius: 4px;
		-moz-border-radius: 3px;
		border-radius: 4px;
		height: 6px;
		border: 1px solid #bdc3c7;
		background: #ffffff;
	}

	&::-webkit-slider-thumb{
		-webkit-appearance: none;
		background-color: #ecf0f1;
		border: 1px solid #bdc3c7;
		width: 18px;
		height: 18px;
		margin-top: -8px;
		border-radius: 10px;
		cursor: pointer;
	}

	&::-moz-range-thumb{
		-moz-appearance: none;
		background-color: #ecf0f1;
		border: 1px solid #bdc3c7;
		width: 16px;
		height: 16px;
		border-radius: 9px;
		cursor: pointer;
	}

	&:active::-webkit-slider-thumb{
		box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
	}

	&:active::-moz-range-thumb{
		box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
	}
}
.progress-bar{
	float: right;
	margin-right: 5%;
	display: block;
	width: 30%;
    padding-top: 10px;
    position: relative;

    .progressValue {
	    z-index: 0;
        display: inline-block;
        position: absolute;
        top: 14px;
        width: 45px;
        height: 14px;
        right: -40px;
        font-size: 12px;
        line-height: 11px;
        background-color: #aaa;
        color: #fff;
        box-sizing: border-box;
        padding: 1.5px 12px 0 12px;
        border-radius: 0 10px 10px 0;
      }

    progress[value]{
	    position: relative;
        z-index:1;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
    }
}
::-webkit-progress-bar {
    border: none;
    border: 4px solid lighten($color-blue-grey, 52%);
    border-radius: 12px ;
    background: #eee;
    height: 22px;
    box-sizing: border-box;
}
::-webkit-progress-value {
    border-radius: 12px;
    background: #4CAF50;
}
::-moz-progress-bar {
    background: #4CAF50;
    border: none;
    height: 22px;
}
::-moz-progress-value {
    background: #7fda57;
 }

/* ---=== Custom checkboxes ===--- */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	line-height: 2em;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

[type="checkbox"]:not(:checked) + label {
	text-decoration: line-through;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:not(:checked) + label:before {
	color: #999;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:checked + label:before {
	color: #333;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	font-family: 'Flaticon';
	font-size: 2em;
	position: absolute;
	left: 0;
}

[type="checkbox"]:checked + label:before {
	content: '\f24d';
}

[type="checkbox"]:not(:checked) + label:before {
	content: '\f24c';
}