@import '../variables';

.table {

	table {
		border-collapse: collapse;
	}

	tbody {
		background-color: #fff;
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}

	th, td {
		padding: 10px;
	}

	th {
		background-color: #607D8B;
		color: #fff;
		font-size: 18px;
	}

	td {
		vertical-align: middle;
	}

	tr {
		display: table-row;
		border: 1px solid #99BCE0;
		vertical-align: inherit;

		&:hover {
			background-color: #ECEFF1;
		}
	}

	thead {
		tr {
			border-color: #607D8B;
		}
	}

	.controls {
		tr {
			border: 0;
			padding: 0;
		}

		td {
			padding: 0;
			margin: 0;

			.btn {
				font-size: 1.3em;
				border-radius: 0;
			}

			&:first-child .btn {
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}

			&:last-child .btn {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}
}