.table th,
.table td {
    border: 1px solid #99bce0;
    padding: 10px;
}
.table th {
    background-color: #34495e;
    color: #fff;
    font-size: 18px;
}

.table td {
    vertical-align: middle;
}

.table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table table {
    border-collapse: collapse;
}