@import '../variables';

.table {

	table {
		border-collapse: collapse;
	}

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}

	th, td {
		border: 1px solid #99bce0;
		padding: 10px;
	}

	th {
		background-color: #34495e;
		color: #fff;
		font-size: 18px;
	}

	td {
		vertical-align: middle;
	}

	tr {
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}

	.controls {
		.btn {
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}