@import "../variables";

$tooltip-color: #78909C;

.on-tooltip {
  position: relative;
}
.tooltip {
  position: absolute;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 4px;
  transform: translateY(-50%);
  color: #fff;
  background-color: $tooltip-color;
  font-style: normal;
  font-size: 16px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  cursor: initial;
  transition: all .2s;
}
.tooltip:before {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: 0; left: 0;
}
/*
** Right
*/
.tooltip[data-direction="right"] {
  left: 110%;
  top: 50%;
  transform: translate(0, -50%);
}
.tooltip[data-direction="right"]:before {
  top: 50%;
  left: 0;
  transform: translate(-85%, -50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $tooltip-color;
}
.on-tooltip:hover .tooltip[data-direction="right"] {
  visibility: visible;
  opacity: 1;
  transform: translate(10%, -50%);
}