@import "../common/variables";
@import '../common/styles/commonStyles';

.userDashboard{

	padding: 10px;
	min-height: 50px;
	box-sizing: border-box;

	.showContent{
		height: 100%;
		overflow:hidden;
	}
	.hideContent{
		height: 0;
		overflow:hidden;
	}
}