@import '../../common/variables';

#accept-objective-wrapper {
  padding: 30px;
  height: 100%;
  overflow-y: auto; }

#accept-objective--search-bar {
  margin: 0 5%; }

#accept-objective-wrapper input {
  width: 100%;
  height: 40px;
  box-sizing: border-box; }

accept-objective--search-bar button {
  float: right;
  margin-right: 5%; 
}

.objective-text-info {
  width: 100%;
  overflow: hidden;
  min-height: 67px;
  margin-top: 8px;

}

.objective-general-info {
  color: green;
}

#accept-objective-wrapper p#main-title {
  box-sizing: border-box;
  color: #aaaaaa;
  font-size: 16px;
  text-align: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 4px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  min-width: 550px; 
}

#accept-objective-wrapper .row {
  margin-top: 5px;
 margin-bottom: -3px;
}

#accept-objective-wrapper p#main-title span {
  display: inline-block;
  padding: 10px;
  position: relative;
  background: #f3f6f7;
  z-index: 10; 
  }

#accept-objective-wrapper p#main-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 31px;
  left: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid #aaaaaa;
  z-index: 0; 
  }

#accept-objective-wrapper .accept-objective-item {
  width: 48.85%;
  margin-right: 2%;
  box-sizing: border-box;
  padding: 17px;
  background: #f9fafb;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  display: inline-table;
  margin-top: 20px;
  }

#accept-objective-wrapper .accept-objective-item:nth-child(2n) {
  margin-right: 0;
   }

#accept-objective-wrapper .accept-objective-item h2, h3 {
  padding: 0;
  margin: 0; 
  }

#accept-objective-wrapper .accept-objective-item h2 {
  padding-top: 6px;
  color: #555;
  position: absolute;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  }

#accept-objective-wrapper .accept-objective-item h3 {
  margin-top: 5px;
  display: inline-block;
  font-size: 18px;
  color: #555;
}

#accept-objective-wrapper .accept-objective-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 0px;
  }

#accept-objective-wrapper .accept-objective-item .red-hover:hover {
  background: $color-red;
  color: white; 
}

#accept-objective-wrapper .accept-objective-item .green-hover:hover {
  background: $color-green;
  color: white; 
}

#accept-objective-wrapper .accept-objective-item  button {
  float: right;
  height: 26px;
  background: #CFD8DC;
  border-radius: 4px;
  border: none;
  color: #555;
  text-align: center;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  margin-left: 15px;
  padding: 5px 10px;
}

#accept-objective-wrapper .accept-objective-item .left-column {
  width: 40px;
  display: inline-block;
  min-width: 35px;
}

#accept-objective-wrapper .accept-objective-item span {
  display: inline-block;
  border-radius: 3px;
  background-color: #607d8b;
  color: #fff;
  padding: 3px 6px;
  font-size: 13px;
  margin-top: 5px;
}


#accept-objective-wrapper .accept-objective-item  .text-block {
  display: block;
  color: #777;
  border-radius: 4px;
  width: 100%;
  margin-top: 6px;
  font-size: 15px;
}

#height-25px {
  height: 25px;
}
#accept-objective-wrapper .accept-objective-item  .text-block p {
  text-align: justify;
  padding:0;
}

#accept-objective-wrapper .accept-objective-item  span.category {
  background-color: $color-green; 
  margin-left: 10px;
 }

#accept-objective-wrapper .accept-objective-item  {
 
  position: relative;
  clear: both;
}
/* 
@media screen and (max-width: 1475px) {
  #accept-objective-wrapper .accept-objective-item {
    width: 48.8%;
    margin-right: 2%;
    background: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 3px;
    overflow: hidden;
    display: inline-table;
    margin-top: 20px;
 } } */

 @media all and (max-width: 1300px) {
  #accept-objective-wrapper .accept-objective-item {
    width: 100%;
    min-width: 550px;
    margin-right: 0;
    background: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    display: inline-table;
    margin-top: 20px;
 } }

