@import '../../common/variables';

#accept-objective-wrapper {
  padding: 30px;
  height: 100%;
  overflow-y: auto; }

#accept-objective--search-bar {
  margin: 0 5%; }

#accept-objective-wrapper input {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box; }

accept-objective--search-bar button {
  float: right;
  margin-right: 5%;
}

.objective-text-info {
  width: 100%;
  overflow: hidden;
  min-height: 67px;
  margin-top: 8px;

}

.objective-general-info {
  color: green;
}

#accept-objective-wrapper p#main-title {
  box-sizing: border-box;
  color: #aaaaaa;
  text-align: center;
  position: relative;
  padding: 0;
  width: 100%;
  margin: 15px auto 0px;
  font-size: 20px;
}

#accept-objective-wrapper .row {
  margin-top: 5px;
  margin-bottom: -3px;
}

.popup-toogle:hover > a > div.hint {
  display: block;
}

.popup-toogle > a > div.hint {
  display: none;
}

#accept-objective-wrapper p#main-title span {
  display: inline-block;
  padding: 10px;
  position: relative;
  background: #f3f6f7;
  z-index: 10;
  }

#accept-objective-wrapper p#main-title:after {
  content: '';
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid #aaaaaa;
  z-index: 0;
  }

#accept-objective-wrapper .accept-objective-item {
  width: 48.85%;
  margin-right: 2%;
  box-sizing: border-box;
  padding: 17px;
  background: #f9fafb;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  display: inline-table;
  margin-top: 15px;
  }

#accept-objective-wrapper .accept-objective-item:nth-child(2n) {
  margin-right: 0;
   }

#accept-objective-wrapper .accept-objective-item h2, h3 {
  padding: 0;
  margin: 0;
  }

#accept-objective-wrapper .accept-objective-item h2 {
  padding-top: 7px;
  color: #555;
  position: absolute;
  display: inline-block;
  font-size: 15px;
  }

#accept-objective-wrapper .accept-objective-item h3 {
  margin-top: 5px;
  display: inline-block;
  font-size: 18px;
  color: #555;
}

#accept-objective-wrapper .accept-objective-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0px;
  }


#accept-objective-wrapper .accept-objective-item {
  .buttons{
    float: right;

    .btn-green-hover:focus,
    .btn-red-hover:focus {
      color: #fff;
    }
    .btn-green-hover {
      &:focus {
        background-color: darken($color-green, 10%);
      }
    }
    .btn-red-hover {
      &:focus {
        background-color: darken($color-red, 10%);
      }
    }
    button{
      display: inline-block;
      padding: 5px 10px;
      margin-left: 10px;
    }
  }
}

#accept-objective-wrapper .accept-objective-item .left-column {
  width: 40px;
  display: inline-block;
  min-width: 30px;
}

.left-column:hover {
  .userItem {
    display: block;
  }
}

#accept-objective-wrapper .accept-objective-item span {
  display: inline-block;
  border-radius: 3px;
  background-color: #607d8b;
  color: #fff;
  padding: 3px 6px;
  font-size: 13px;
  margin-top: 5px;
}


#accept-objective-wrapper .accept-objective-item  .text-block {
  display: block;
  color: #777;
  border-radius: 4px;
  width: 100%;
  margin-top: 6px;
  font-size: 15px;
}

#height-25px {
  height: 25px;
}
#accept-objective-wrapper .accept-objective-item  .text-block p {
  text-align: justify;
  padding:0;
}

#accept-objective-wrapper .accept-objective-item  span.category {
  background-color: $color-green;
 }
 #accept-objective-wrapper .accept-objective-item  span.type {
  margin-right: 10px;
 }

#accept-objective-wrapper .accept-objective-item  {

  position: relative;
  clear: both;
}

.pagination {
  text-align: center;
  color: #aaaaaa;
}

.arrow {
  cursor:pointer;
}

 @media all and (max-width: 1300px) {
  #accept-objective-wrapper .accept-objective-item {
    width: 100%;
    margin-right: 0;
    background: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    display: inline-table;
    margin-top: 20px;
    .objective-text-info {
      min-height: 20px;
    }
 }
}

@media all and (max-width: 800px) {
  #accept-objective-wrapper .accept-objective-item {
    .objective-text-info {
      min-height: 20px;
    }
  }
  #accept-objective-wrapper {
    padding: 20px;
  }
}
@media all and (max-width: 500px) {
  .popup-toogle:hover > a > div.hint {
    display: none;
  }
}
