.push {
	content: '';
	display: block;
	padding-top: 70px;
	}
.full-screen {
	height: 100%;
	margin-top: -70px;
	z-index: 0;
}
#central-window {
	height: 100%;
	margin-top: -70px;
	z-index: 0;
	padding: 20px;
	margin-right: 350px;
	margin-left: 75px;
}
#central-window:before {
	content: '';
	display: block;
	padding-top: 70px;
}
