.user-key-results{
		margin: -25px 0 5px 10px;
		span{
			padding-left: 5px;
		}
		.change{
			color: #0080ff;
			cursor: pointer;
		}
		.key-result-details span{
			color: #000;
			cursor: inherit;
			padding: 0 15px 0 0;
		}
		.display{
			display: block;
		}
		.undisplay{
			display: none;
		}
		ul {
			list-style: none;
			margin: 5px 0 0;
			
			padding-left: 20px;

			li{
				display: inline-block;
				margin: 10px
			}
			.completed{
				text-decoration: line-through;
			}
			input{
				display: inline-block;
			}
		}
	}