.objective-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2%;
}

.objective-container .img {
    position: relative;
    float: left;
    width: 100px;
    margin-right: 30px;
}

.objective-container .img.user {
    width: 150px;
    margin-bottom: 85px;
    margin-top: 20px;
}

.objective-user {
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    padding: 15px;
    background-color: #ECECEC;
}

.objective-user h3 {
    margin-top: 0;
}

.objective-settings {
    text-align: right;
}

.objective-settings i{
    font-size: 20px;
    color: #9b9b9b;    
}

.objective-settings i:first-child{
    padding-right: 20px;
}

.objective-container img {
    width: 100%;
}

.objective-content {
    font-size: 15px;
}

.objective-date {
    margin-top: 30px;
}

.objective-date p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.objective-date p:nth-child(2) {
    margin-top: 15px;
}

.objective-date p:nth-child(2), .objective-date p:last-child {
    color: #828282;
}


.objective-date p i {
    margin-right: 5px;
}

.objective-container .result{
    width: 33%;
    height: 25px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    float: right;
    margin-top: -89px;
    margin-right: 50px;
}

.objective-container .result > span {
    display: block;
    height: 17px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #97a71d;
    background-image: linear-gradient(
            center bottom,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    margin-top: -7px;
}

.objective-container .fa.fa-check-square {
    float: right;
    margin-right: -62px;
    margin-top: -15px;
    font-size: 16px;
}

.objective-container .fa.fa-check-square span{
    margin-left: 5px;
}

.objective-container .details {
    width: 33%;
    float: right;
    margin-top: -30px;
}


.objective-container .details span {
    margin-right: 10px;
}

.objective-container .details span i {
    margin-right: 10px;
    font-size: 20px;
    color: #555;
}

.objective-container .details span i:hover {
    color: #34495E;
}

.objective-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        margin-bottom: 50px;
}

