@import "_variables";

#historyTable{
	i{
		margin-right: 7px;
	}

	img{
		height:30px;
		width: 30px;
		margin-right: 7px;
	}

	tbody{
		display: block;
		height: 50vh;
		table-layout:fixed;
    	overflow: auto;
    	display:block;
   		/*height:400px;*/
    	overflow-y:overlay;
	}
	thead, tbody tr {
	   	display:table;
	 	width:99.99%;
    	table-layout:fixed;/* even columns width , fix width of table too*/
		border-color:#E0E0E0;
	}

	thead tr {
		border: none;
	}
	
	tr {
		padding-left: 10px;
	}

	th {
		border:none;
		text-align: left;
		padding-left: 15px;
	}
	
	thead tr th i{
		padding-right: 5px;
		cursor: pointer;
	}


}

.history-item-list {

	table {
		width: 100%;
		margin: 24px auto 0 auto;
	}
    //
	//th, td {
	//	padding: $padding;
	//}
    //
	//th {
	//	background-color: $color-main;
	//	border: 1px solid #99bce0;
	//	color: #fff;
	//	font-size: 18px;
	//}
    //
	//td {
	//	border: 1px solid #99bce0;
	//	vertical-align: center;
	//}

	.actionCreate {
		color: green;
	}

	.actionUpdate {
		color: orange;
	}

	.actionDelete {
		color: red;
	}

	.grey-text{
		color:#A4A3A3;
	}
	
	.black-text{
		color: black;
	}

	.actionDefault {
		color: #000;
	}

	.no-hover:hover {
		background-color: #fff;
	}

	.history-item-user-avatar {
		height: auto;
		width: 18px;
		border-radius: 50%;
	}
	//
}