@import "_variables";
@import "../../common/_variables";

.history-filter-bar {
	padding: 12px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #777777;
}

.history-filter-bar-input {
	width: auto;
}

.date-from {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	float: right;
	width: 70px;
}

.date-to {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left-width: 0 !important;
	float: right;
	width: 70px;
}

.date-field {
	float: left;
	margin: 5px;
}

.history-filter-table {
	width: auto;
	margin-left: auto;
	margin-right: auto;

	td {
		vertical-align: middle !important;
		padding: 2px;
		.btn-filter{
			padding: 7px 20px;
			margin-left: 20px;
			&:hover{
				color: #fff;
			}
		}
	}

	.cell-right-align {
		text-align: right;
	}
}

.label {
	display: block;
	width: 100%;
	font-family: $primary-font;
	font-size: 20px;
	color: #777777;
	margin-bottom: 10px;
}

.show-container {
	display: block;
}

.hide-container {
	display: none;
}

@media all 
and (max-width: 1020px) {
	.history-filter-table {   
      td {
        display: flex;
        align-items: center;
        font-size: 15px;

        select, button{
        	width: 181px;
        }
        .btn-filter {
				  margin-left: 0px;
				}
        &:first-child {
          padding-top: .5em;
        }

        &:last-child {
          padding-bottom: .5em;
        }
       
			}
		.date-field {
	    margin-left: 0px;
		}
	}
}