@import "normalize";
@import "_variables";

.history-sort-bar-caontainer{
  clear: both;
}

.history-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#top-panel {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #F3F6F7;
}

.history-page-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.history-page-title {
  width: 30%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
}

.history-search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.history-filter-bar-container {
  width: 100%;
}

.history-page-filter-sort-table {
  td {
    vertical-align: top;
    padding: 3px;
  }
}

.history-items-list {
  height: 100%;
  overflow-y: auto;
}

.history-page-header-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: row;
}
