@import "_variables";

#historyTable {

    margin-bottom: 30px;

	i{
		margin-right: 7px;
		float: left;
	}

	.table-th{
		cursor:pointer;
	}

	img{
		height:20px;
		width: 20px;
		margin-right: 7px;
		vertical-align: middle;
	}
	span{

		float: left;
	}
	td{

		vertical-align: middle;
	}

	tbody {
		display: block;
		position: relative;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		table-layout: fixed;
		overflow-y: overlay;
		1
		& > tr {
			
			& > tr:last-child {
				box-sizing: border-box;
			}
		}
	}
	thead, tbody tr {
	   	display:table;
	 	width:99.99%;
    	table-layout:fixed;/* even columns width , fix width of table too*/
	}

	thead tr {
		border: none;
	}
	
	tr {
		padding-left: 10px;
	}

	th {
		text-align: left;
		padding-left: 15px;
	}
	
	thead tr th i{
		padding-right: 5px;
		cursor: pointer;
	}

	.author-name{
		margin-left: 5px;
		margin-top:5px;
		display:inline-block;
	}

	.bold{
		font-weight: bold;
	}
	.target{
		a:focus{
			i{
				color: #2196f3;
			}
		}
	}

}

.history-item-list {

	table {
		width: 100%;
		margin: 0 auto;
	}

	.actionCreate {
		color: green;
	}

	.actionUpdate {
		color: orange;
	}

	.actionDelete {
		color: red;
	}

	.grey-text{
		color:#A4A3A3;
	}
	
	.black-text{
		color: black;
	}

	.actionDefault {
		color: #000;
	}

	.no-hover:hover {
		background-color: #fff;
	}

	.no-hover{
		border:none;
	}

	.history-item-user-avatar {
		float: left;
	}
	
}

@media all 
and (max-width: 720px) {
	#historyTable {
	 
      margin: 1em 0;
      min-width: 300px;
            
      th {
        display: none;    
      }

      tr:first-child {
          border-top: solid 1px rgb(224, 224, 224);
      }
      
      td {
        display: flex;
        align-items: center;
        font-size: 15px;
        
        &:first-child {
          padding-top: .5em;
        }

        &:last-child {
          padding-bottom: .5em;
        }
        &:before {
          color: #607D8B;
          content: attr(data-th)": "; 
          font-weight: bold;
          font-size: 14px;
          width: 90px; 
          display: inline-block;
          
          @media (min-width: 720) {
            display: none;
          }
        }
			}
		
	}
}