@import "_variables";

#historyTable{
	i{
		margin-right: 7px;
		float: left;
	}

	img{
		height:20px;
		width: 20px;
		margin-right: 7px;
		vertical-align: middle;
	}
	span{

		float: left;
	}
	td{

		vertical-align: middle;
	}

	tbody{
		display: block;
		table-layout:fixed;
    	overflow: auto;
		& > tr{
			border-bottom: none;
		}
	}
	thead, tbody tr {
	   	display:table;
	 	width:99.99%;
    	table-layout:fixed;/* even columns width , fix width of table too*/
	}

	thead tr {
		border: none;
	}
	
	tr {
		padding-left: 10px;
	}

	th {
		text-align: left;
		padding-left: 15px;
	}
	
	thead tr th i{
		padding-right: 5px;
		cursor: pointer;
	}

	.author-name{
		margin-left: 5px;
		margin-top:5px;
		display:inline-block;
	}

}

.history-item-list {

	table {
		width: 100%;
		margin: 0 auto;
	}

	.actionCreate {
		color: green;
	}

	.actionUpdate {
		color: orange;
	}

	.actionDelete {
		color: red;
	}

	.grey-text{
		color:#A4A3A3;
	}
	
	.black-text{
		color: black;
	}

	.actionDefault {
		color: #000;
	}

	.no-hover:hover {
		background-color: #fff;
	}

	.history-item-user-avatar {
		float: left;
	}
	
}