@import "_variables";
@import "normalize";
@import '../../common/variables';
@import '../../common/styles/images';

.history-sort-bar-caontainer{
  clear: both;
}

.history-page {
  height: 100%;
  margin-bottom: -30px;
  //display: flex;
  //flex-direction: column;
  i.fi-1.flaticon-1-arrow-down{
    font-size: 10px;
  }
}

#top-panel {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3F6F7;
}

.history-page-header {
  width: 100%;
  box-sizing: border-box;
  & > button{
    margin-bottom: 10px;
    padding: 7px 15px;
    &.active{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    span{
      pointer-events: none;
    }
  }
}

.history-filter-container {
  display: none;
  position: relative;
  z-index: 5;
  &.opened{
    display: block;
  }
}

.history-page-title {
  width: 100%;
  justify-content: center;
  font-size: 28px;
  clear: both;

  p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #aaaaaa;
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 4px;
  }

  p > span {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    background: lighten($color-blue-grey, 50%);
    z-index: 10;
  }

  p:after {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid #aaaaaa;
    z-index: 0;
  }
}

.history-search-bar-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.history-filter-bar-container {
  width: 100%;
}

.history-page-filter-sort-table {
  td {
    vertical-align: top;
    padding: 3px;
  }
}

.history-items-list {
  height: 100%;
  overflow-y: auto;
}

//.history-page-header-row {
//  width: 100%;
//  margin-left: auto;
//  margin-right: auto;
//  //padding: 12px 0 0 0;
//  display: flex;
//  flex-direction: row;
//}
