@import '../common/varaibles';

#new-obj-creds{
  margin-bottom: 30px;

  .top{
    @extend .clearfix;
  }
  label{
    display: block;
    width: 100%;
    font-family: $primary-font;
    font-size: 20px;
    color: #777777;
    margin-bottom: 10px;
  }

  /* Title input */

  #new-obj-title{
    display: block;
    padding: 10px;
    width: 520px;
    margin-bottom: 10px;
  }

  /* Description Textarea */

  #new-obj-desc{
    display: block;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    font-family: $primary-font;
    min-height: 130px;
    max-height: 130px;
  }

  .title-group{
    float: left;
  }
  .category-group{
    float: right;
  }

  /* Category input */

  #new-obj-category{
    display: block;
    padding: 9px;
  }
}