@import "../common/varaibles";

#new-objective {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  top: $header-height;
  left: $left-nav-width;
  right: 0;
  bottom: 0;
  margin-right: $right-stat-panel-witdh;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $new-obj-index;
  display: none;
  @extend .triangle;

  &.opened {
    display: block;
  }

  form {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  input[type=text],
  select,
  textarea {
    border: 1px solid #d3d3d3;
    border-left:5px solid #6aa84f;
    color: #777777;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
      -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
      box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    }
  }
}

/*
**      Section for Submit Objective
*/

button#new-obj-submit-btn {
  display: block;
  float: left;
  background: $primary-color-dark;
  padding: 10px 20px;
  margin-right: 10px;
  color: #fffde8;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  &:focus {
    outline: none;
    border: none;
  }
  &:hover {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
  }
}

#clone-obj{
  margin-bottom: 10px;

  @extend .clearfix;
  & + p{
    color: #aaaaaa;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 0;
    span{
      display: inline-block;
      padding: 10px;
      position: relative;
      background: white;
      z-index: 10;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 23px;
      left: 0;
      height: 0;
      width: 100%;
      border-top: 1px solid #aaaaaa;
      z-index: -1;
    }
  }
  label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #777777;
  }
  input#obj-to-clone {
    padding: 10px;
    width: 520px;
    border-left:5px solid #6aa84f;
    margin-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  #clone-it{
    padding: 11px 30px;
    background: $primary-color-dark;
    float: right;
    color: #fffde8;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    &:focus {
      outline: none;
      border: none;
    }
    &:hover {
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
      -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
      box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    }
  }
}
