@import '../../common/styles/table.scss';

body { 
	overflow-y:hidden 
}

.recycle-bin-header {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	.recycle-bin-title {
		width: 30%;
		display: flex;
		justify-content: center;
		font-size: 28px;
		font-weight: bold;
	}

	.recycle-bin-header-row {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		
		& .filter-panel {
			width: 70%;
			display: flex;
			justify-content: flex-end;
		}

		& .recycle-bin-filter-bar-container {
			width: 100%;
		}

		& p {
			box-sizing: border-box;
			color: #aaaaaa;
			font-size: 16px;
			text-align: center;
			position: relative;
			padding-top: 0;
			padding-bottom: 0px;
			width: 100%;
			margin: 0 auto;
			font-size: 20px;
			padding: 4px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 15px;
				left: 0;
				height: 0;
				width: 100%;
				border-top: 1px solid #aaaaaa;
				z-index: 0;
			}

			& span {
				display: inline-block;
				padding: 0 15px;
				position: relative;
				background: #f3f6f7;
				z-index: 10
			}
		}

		& button {
			& i.flaticon-1-arrow-down,
			& i.flaticon-1-arrow-up {
				font-size: 10px;
			}
		}
	}
	
	button.btn-filter:focus{
		background-color: darken($color-blue, 10%);
		color: #fff;
	}
}

#rec-bin-wrapper {
	box-sizing: border-box;
	padding: 30px;
	overflow-y: hidden;
	overflow-x: hidden;
	
	& .no-hover { background: none; border:none;}
	
	& .not-display { display: none; }
	
	& .item-deleted-by { white-space: nowrap;}
	
	& .no-wrap { white-space: nowrap; }
	
	& .width-20perc { width: 20%; }

	& .width-15perc {
		width: 16%;
		white-space: nowrap
	}

	& .width-30perc { width: 25%; }

	& .width-5perc { 
		width: 60px; 
		padding: 4px;
		button{
			padding: 7px 16px;
		}
		button:focus{
			background-color: $color-blue;
			color: #fff;
		}
		i{
			font-size: 20px;
		}
	}

	& .width-85perc {
		width: 100%;
		margin: 0 auto;
	}

	& td span { display: block; }

	& #date-field {
		margin-right: 7px;
	}

	& #title-field {
		margin-right: 7px;
	}

	& th.width-15perc { cursor: pointer; }

	& .item-category {
		display: inline-block;
		font-size: 14px;
	}

	& .btn-blue { margin-bottom: 12px; }

	& .filter-table {
		width: 100%;
		margin: 0 auto;
		margin-top: 5px;

		& tbody {
			table-layout: fixed;
			
			overflow-y: overlay;
		}

		& th { white-space: nowrap; }

		& td { 
			text-overflow: ellipsis; 
		}

		& tr {
			display: table;
			width: 99.99%;
			table-layout: fixed;
			background: #FFF;
		}

		& tr:hover {
			 background-color: #ECEFF1;
		}
	}
}

.margin-left-3px { margin-left: 3px; }

.cursor-pointer { cursor: pointer; }

.filter-box {
	height: 59px;
	display: inline-block;

	& > div {
		margin: 0 10px;
		float: left;
	}
}

.recucle-bin-filter-bar-container {

   .not-dispaly {
	   display: none;
   }
	
	width: 100%;

	.recycle-bin-filter-bar {
		padding: 12px;
		background-color: #fff;
		border: 1px solid #E0E0E0;
		box-sizing: border-box;
		color: #777777;
		width: 100%;
		margin: 0 auto;
	}

	.recycle-bin-filter-bar-input {
		width: auto;
	}

	.date-from {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		float: right;
		width: 70px;
	}

	.date-to {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-left-width: 0 !important;
		float: left;
		width: 70px;
	}

	.date-field {
		float: left;
		margin: 5px;
	}

	.filter-box label {
		line-height: 60px;
	}

	.recycle-bin-filter-table {

		font-size: 14px;
		display: inline-block;

		td {
			vertical-align: middle !important;
			padding: 10px;
		}

		.cell-right-align {
			text-align: right;
		}
		label {
			font-size:12px;
			border-radius: 20px;
		}
	}

	.show-container {
		display: block;
		padding: 0;
		height: 59px;
		text-align: center;
	}

	.hide-container {
		display: none;
	}

}



.react-date-field__calendar-icon {
	display: none;
}

#admin-recycle-bin .recucle-bin-filter-bar-container {

	.filter-box {
		display: block;
		width: 934px;
		height: auto;
		margin: 0 auto;
		margin-top: 12px;
	}

	.filter-box label {
		line-height: normal;
	}

	.show-container {
		height: 92px;
	}

	.recycle-bin-filter-table {
		font-size:14px;
		margin: 0 auto;
		display: table;
	}
}

@media all and (max-width: 1460px) {

	.recucle-bin-filter-bar-container {

		.filter-box {
			display: block;
			width: 934px;
			height: auto;
			margin: 0 auto;
			margin-top: 12px;
			padding-left: 10px;
		}

		.filter-box label {
			line-height: normal;
		}

		.show-container {
			height: 92px;
		}

		.recycle-bin-filter-table {
			font-size:14px;
			margin: 0 auto;
			display: table;
		}
	}

}
@media all 
and (max-width: 1330px)
and (min-width: 1100px) {
	#rec-bin-wrapper {
		& .item-deleted-by { white-space: pre-line;}

		& .width-15perc {
			white-space: pre-line;
		}
	}
}

@media all 
and (max-width: 1100px) {
	.recucle-bin-filter-bar-container .filter-box {
    width: 685px;
    padding-left: 0px;
  }
	#rec-bin-wrapper .no-wrap {
	    width: 195px;
	    white-space: nowrap;
	    padding: 0;
	}
	.recucle-bin-filter-bar-container {
		.show-container {
			height: auto;
		}
	}
	#admin-recycle-bin .recucle-bin-filter-bar-container .show-container {
    min-height: 132px;
	}
	#rec-bin-wrapper .width-20perc {
    width: 15%;
	}
	#rec-bin-wrapper .width-30perc {
    width: 20%;
	}
	#rec-bin-wrapper .width-15perc {
    width: 16%;
    white-space: pre-line;
	}
	#rec-bin-wrapper .item-deleted-by {
    white-space: pre-line;
	}
	#rec-bin-wrapper .filter-table th {
	    white-space: pre-line;
	     padding: 10px 5px;
	}
	#rec-bin-wrapper .filter-table td {
    padding: 10px;
	}
	#rec-bin-wrapper {
		.filter-table td button {
   		margin-left: 5px;
		}
		& .item-deleted-by { white-space: pre-line;}

		& .width-15perc {
			width: 10%;
			white-space: pre-line;
		}
	}
}

@media all 
and (max-width: 800px) {	
	#rec-bin-wrapper .no-wrap {
	    width: 195px;
	    white-space: nowrap;
	    padding: 0;
	}
	.recucle-bin-filter-bar-container {
		.show-container {
			height: auto;
		}
	}
	#rec-bin-wrapper{
		& .width-20perc { width: 97%; }

		& .width-15perc {
			width: 97%;
			white-space: pre-line;
		}

		& .width-30perc { width: 97%; }

		& .width-5perc { 
			width: 97%; 
			padding: 4px;
		}
		.filter-table td button {
	    margin-left: 5px;
		}
		.table {
	    margin: 1em 0;
	    min-width: 300px;
	           
	    th {
	      display: none;    
	    }
	    tr:first-child {
	      border-top: solid 1px rgb(224, 224, 224);
	    }
	     
	    td {
	      display: flex;
	      align-items: center;
	      font-size: 15px;
	        
	      &:first-child {
	        padding-top: .5em;
	      }

	      &:last-child {
	        padding-bottom: .5em;
	      }
	      &:before {
	        color: #607D8B;
	        content: attr(data-th)": "; 
	        font-weight: bold;
	        font-size: 14px;
	        margin-right: 15px;
	        display: inline-table;
	        width: 85px; 
	          
	        @media (min-width: 800px) {
	          display: none;
	        }
	      }
			}
		}
	}
}
@media all 
and (max-width: 750px) {

	.filter-box > div {
	    margin: 3px 10px;
	 }


    .recucle-bin-filter-bar-container .date-field {
	    display: none;
    }
	

	.recucle-bin-filter-bar-container .recycle-bin-filter-table td:nth-child(2) {
		display: none;
	} 


  .recucle-bin-filter-bar-container .filter-box label {
    line-height: 18px;
   }
	.recucle-bin-filter-bar-container .filter-box {
    width: 200px;
    padding-left: 0px;
  }
	#rec-bin-wrapper .no-wrap {
	    white-space: wrap;
	    padding: 0;
	    margin-left: 5px;
	    display: flex;

	}
	.recucle-bin-filter-bar-container
	.recycle-bin-filter-table{
	 	td {
	    display: flex;
	    align-items: center;
	    font-size: 15px;

	    select, button{
	    	width: 181px;
	    }
        
      &:first-child {
        padding-top: .5em;
      }

      &:last-child {
        padding-bottom: .5em;
      }
    }
	}
}