@import '../common/variables';
@import '../common/styles/commonStyles';

#new-obj-creds{
  margin-bottom: 30px;

  label{
    display: block;
    width: 100%;
    font-family: $primary-font;
    font-size: 20px;
    color: #777777;
    margin-bottom: 10px;
  }

  /* Title input */

  .title-group{
    position: relative;
  }

  #new-obj-title{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 135px;
    margin-bottom: 10px;
  }

  /* Select category */

  #new-obj-category{
    padding: 9px;
    position: absolute;
    top: 33px;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Description Textarea */

  #new-obj-desc{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 140px;
  }
}

.new-objective-form{
  margin-bottom: 85px;
}

.no-after:after{
  display: none !important;
}
