@import '../common/varaibles';
@import '../common/styles/commonStyles';

#new-obj-creds{
  margin-bottom: 30px;

  label{
    display: block;
    width: 100%;
    font-family: $primary-font;
    font-size: 20px;
    color: #777777;
    margin-bottom: 10px;
  }

  /* Title input */

  #new-obj-title{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
  }

  /* Description Textarea */

  #new-obj-desc{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 140px;
  }
}