@import "../common/variables";
@import '../common/styles/commonStyles';

.keyresult-group{
  margin-bottom: 20px;
  @extend .clearfix;
  position: relative;

  /* key result input */
  input[type=text] {
    padding: 10px;
    padding-right: 48px;
    width: 100%;
    box-sizing: border-box;
  }
}
