@import "../common/variables";
@import '../common/styles/commonStyles';

.keyresult-group{
  margin-bottom: 20px;
  @extend .clearfix;
  position: relative;

  /* key result input */
  input[type=text] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .del-keyres{
    @extend .btn;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 11px;
    background: #dddddd;
    color: #777777;
    &:hover{
      background: $del-btn-bg;
      color: #ffffff;
    }
    &:active{
      background: $del-btn-bg-active;
    }
  }
}
