@import '../common/variables';

#new-obj-keyresults{
  margin: 0;
  margin-bottom: 25px;
  list-style-type: none;
  padding: 0;

  p{
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: #777777;
  }

  a#add-new-keyresult-btn{
    display: inline-block;
    cursor: pointer;
    color: $color-green;
    &:hover{
      color: darken($color-green, 10%);
      text-decoration: underline;
    }
  }
}