@import "../common/varaibles";
@import "../common/styles/commonStyles";

#new-objective {
  position: fixed;
  padding-top: 35px;
  padding-bottom: 30px;
  top: $header-height;
  right: 0;
  margin-right: $right-stat-panel-width;
  left: $left-nav-width;
  bottom: 0;
  background: $add-new-obj-bg-color;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $new-obj-index;
  display: none;

  &.opened {
    display: block;
  }

  form {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  #close-new-obj-window{
    @extend .btn;
    display: block;
    position: absolute;
    font-size: 20px;
    padding: 7px 10px;
    background-color: transparent;
    right: 10px;
    top: 10px;
    color: #777777;
    &:hover{
      background: #CFD8DC;
    }
  }
}

/*
**    Section for Submit Objective
*/

button#new-obj-submit-btn {
  @extend .btn;
  display: block;
  float: left;
  background: #4CAF50;
  margin-right: 10px;
  color: #fffde8;
  &:active{
    background: $new-obj-btn-bg-active;
  }
}
