.hidden{
  display: none;
}
#close-new-obj-window{
  border: none;
  background: none;
  font-size: 20px;
  color: #aaaaaa;
  float: right;
  margin-top: -40px;
  margin-right: -70px;
  :hover{
    color: #000000;
  }
}

#close-new-obj-window:focus{
  outline:0;
}
