@import '../common/variables';

.dashboard{
    width: 100%;
    padding: 10px 0;
    height:100%;
    position:relative;
}
    
.dashboard {
    
    .main{
    
    }
    .countInfo{
        // p{
        //     box-sizing: border-box;
        //     color: #aaa;
        //     text-align: center;
        //     position: relative;
        //     padding: 2px;
        //     margin: 0 0 10px;

        // }
        // span{
        //     font-size: 18px;
        //     background-color: #F9FAFB;
        //     display: inline-block;
        //     box-sizing: border-box;
        //     color: #aaa;
        //     text-align: center;
        //     position: relative;
        //     padding: 0 10px;
        //     z-index: 10;
        //     padding: 2px;
        //     margin: 0 0 10px;

        //  }
        // p:before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 12px;
        //     left: 0;
        //     height: 0;
        //     width: 100%;
        //     border-top: 1px solid #aaaaaa;
        //     z-index: 0;
        // }
    }
    
    .countInfo, .tableInfo{
        margin-bottom: 10px;
        width:100%;
        box-sizing: border-box;
        padding-right: 8px;
        p{
            box-sizing: border-box;
            color: #aaa;
            text-align: center;
            position: relative;
            padding: 2px;
            margin: 0;
            span{
                font-size: 18px;
                background-color: #F9FAFB;
                display: inline-block;
                position: relative;
                padding: 0 10px;
                z-index: 10;
            }
        }
        p:before{
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            height: 0;
            width: 100%;
            border-top: 1px solid #aaaaaa;
            z-index: 0;
        }
    }

    .score{ text-align:center; padding-left:10px;}
    
    .tableInfo{
        width:278px;
        margin: 0 auto;
    }

    .countInfo b {
        display: block;
        margin-top: 10px;
        color: #99BCE0;
        font-size: 30px;
    }
    
    table{
        width:278px;
        font-size: 14px;
        color: #777777;
        text-align: left;
        border-collapse: collapse;
        margin-top:10px;
    }
    
    th :first-child, td:first-child {
        border-left: none;
    }
    
    th {
        font-weight: bold;
        background: lighten($color-blue-grey, 45%);
        padding: 10px;
        padding-left: 25px;
        text-align: left;
    }

    tr {
        vertical-align: middle;
        &:hover{
            background: #eee;
        }
    }

    td {
        width: 100px;
        padding: 10px;
        padding-left: 25px;
        border-bottom: 1px dotted #ddd;
    }
    
    caption{
        font-size: 16px;
        margin-bottom: 10px;

        p{
           box-sizing: border-box;
            color: #aaa;
            text-align: center;
            position: relative;
            padding: 2px;
            margin: 0;
        }
    }
    
    .second{
        margin-top:-5px;
        margin-right: -10px;
        
        .dots{
            text-align:center;
        }
    }
    
    .stats-title {   
        p {
            color: #aaaaaa;
            text-align: center;
            position: relative;
            width: 100%;
            margin: 0px;
        }
        
        p > span {
            font-weight: normal;
            display: inline-block;
            padding: 5px 10px;
            position: relative;
            z-index: 10;
            background: #F9FAFB;
        }
        
        p:after {
            content: '';
            display: block;
            position: absolute;
            top: 17px;
            left: 0;
            height: 0;
            width: 100%;
            border-top: 1px solid #aaaaaa;
            z-index: 0;
        }
    }

}