@import '../common/variables';

.stats-title {   
        p {
            color: #aaaaaa;
            font-size: 20px;
            text-align: center;
            position: relative;
            padding-top: 4px;
            padding-bottom: 4px;
            min-width: 535px;
            margin: 0;
        }
    }