/*
** Palette
*/
$primary-color: #2c3e50;
$primary-color-light: #34495e;
$add-new-obj-bg-color: #ECEFF1;
$primary-color-dark: #243342;
$nav-links-color: #dddddd;
$nav-links-color-hover: #ffffff;
$new-obj-btn-bg: #4CAF50;
$new-obj-btn-bg-active: #388E3C;
$clone-btn-bg: #03A9F4;
$clone-btn-bg-active: #0288D1;
$del-btn-bg: #EF5350;
$del-btn-bg-active: #D32F2F;
$placeholder-color: #ffffff;

/*
** Metrics
*/
$header-height: 70px;
$left-nav-width: 60px;
$left-nav-width-opened: 190px;
$right-stat-panel-width: 350px;

/*
** Fonts
*/
$primary-font: 'Lato', sans-serif;

/*
** Z-indexes
*/
$header-index: 100;
$navbar-index: 50;
$filters-index: 75;
$new-obj-index: 45;

/*
** General styles to extend
*/
.clearfix{
  &:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}
.triangle{
  &:after{
    content: '';
    position: fixed;
    top: 98px;
    left: 60px;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $primary-color-light;
  }
}