/*
** Palette
*/
$primary-color: #2c3e50;
$color-white: #fefefe;
$color-grey: #616161;
$color-black: #212121;
$color-blue: #2196f3;
$color-blue-grey: #607d8b;
$color-aliceblue: #acc;
$color-green: #4caf50;
$color-red:  #f44336;
$color-purple:  #9c27b0;
$color-orange: #ffa502;

/*
** Metrics
*/
$header-height: 70px;
$left-nav-width: 60px;
$left-nav-width-opened: 210px;
$right-stat-panel-width: 350px;
$border-radius: 4px;

/*
** Fonts
*/

$primary-font: 'Fira Sans', 'Open Sans', sans-serif;

/*
** Z-indexes
*/
$header-index: 100;
$navbar-index: 50;
$filters-index: 75;
$new-obj-index: 45;

/*
** General styles to extend
*/
.clearfix{
  &:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
  }
}

