@import "variables";

//noinspection CssInvalidPropertyValue
aside#navbar {
   position: fixed;
   top: $header-height;
   left: 0;
   bottom: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: $left-nav-width;
   background-color: lighten($primary-color, 5%);
   overflow-x: hidden;
   overflow-y: overlay;
   z-index: $navbar-index;

   /* Navbar opened */
   &.opened {
      width: auto;
   }

   /* remove scrollbar visibility */
   &::-webkit-scrollbar{
      display: none;
   }
}

aside#navbar ul {
   list-style-type: none;
   margin: 0;
   margin-top: 20px;
   padding: 0;
   li {
      margin-bottom: 10px;
      &:last-child {
         margin-bottom: 0;
      }
      a:hover {
         background-color: $primary-color;
         color: #ffffff;
      }
      a.active {
         background-color: $primary-color;
         color: #ffffff;
      }
      span {
         pointer-events: none;
      }
   }
   li a,
   button {
      display: block;
      position: relative;
      white-space: nowrap;
      padding: 15px 0;
      padding-left: 60px;
      padding-right: 15px;
      text-align: left;
      text-align: -moz-left;
      color: #cccccc;
   }
   i {
      position: absolute;
      top: 8px;
      left: 15px;
      font-size: 30px;
      pointer-events: none;
   }
}

/*
** Show users button
*/
aside#navbar #users-link{
   width: 100%;
   background: none;
   border: none;
   white-space: nowrap;
   cursor: pointer;
   &:focus{
      outline: none;
   }
   &:hover{
      background-color: $primary-color;
      color: #ffffff;
   }
   &.active{
      background-color: $primary-color;
      color: #ffffff;
   }
}

.nav-divider-before:before {
   content: '';
   display: block;
   border: 1px solid $primary-color;
   margin: 0 auto;
   margin-bottom: 1em;
   width: 75%;
}