@import "normalize";
@import "variables";

.history-quarter-bar {
  display: flex;
  justify-content: center;
}

.history-quarters-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  border: 2px solid $color-main;
  font-family: 'Roboto', sans-serif;
  margin-top: $margin;
  margin-bottom: $margin;
}

.history-quarter {
  width: 25%;
  min-height: 30px;
  height: auto;
  color: $color-main;
  background-color: $color-white;
  border-left: 2px solid $color-main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-quarter:first-child {
  border-left: none;
}

.history-quarter:hover {
  background-color: $color-history-quarter-hover;
  cursor: pointer;
}

.history-quarter.active {
  background-color: $color-main;
  color: #fff;
}

.history-quarter.active:hover {
  background-color: $color-blue-hover;
}