@import "normalize";
@import "variables";

.history-search-bar {
  display: flex;
  flex-direction: row;
}

.history-search-bar-input {
  display: block;
  height: 30px;
  width: 300px;
}

.btn {

}

.btn-search {

}