$font-family: 'Roboto' Arial;
$font-size: 14px;
$padding: 12px;
$margin: 12px;
$border-color: #DDDDDD;
$color-white: #FFF;
$color-main: #0080FF;
$color-blue-hover: #4cadff;
$color-history-quarter-hover: #f5f5f5;