.recycle-bin-header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

	.recycle-bin-title {
	  width: 30%;
	  display: flex;
	  justify-content: center;
	  font-size: 28px;
	  font-weight: bold;
	}
	.recycle-bin-header-row {
	  width: 100%;
	  margin-left: auto;
	  margin-right: auto;
	  padding: 12px 0 12px 0;
	  display: flex;
	  flex-direction: row;
	  .filter-panel{
	  	width: 70%;
	    display: flex;
	    justify-content: flex-end;
	  }
	  .recycle-bin-filter-bar-container {
    		width: 100%;
		}
	}
}

.margin-left-3px {
	margin-left: 3px;
}

.cursor-pointer {
	cursor: pointer;
}

.filter-table{
	min-width: 100%;
}

.filter-box {
	margin: 5px 90px;

	& > div {
		margin: 0 10px;
		float: left;
	}
}

.recucle-bin-filter-bar-container{
	width: 100%;
	.recycle-bin-filter-bar {
		padding: 12px;
		background-color: #fff;
		border: 1px solid #99BCE0;
		color: #777777;
	}

	.recycle-bin-filter-bar-input {
		width: auto;
	}

	.date-from {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		float: right;
		width: 70px;
	}

	.date-to {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-left-width: 0 !important;
		float: right;
		width: 70px;
	}

	.date-field {
		float: left;
		margin: 5px;
	}

	.recycle-bin-filter-table {

		width: auto;
		margin-left: auto;
		margin-right: auto;

		td {
			vertical-align: middle !important;
			padding: 2px;
		}

		.cell-right-align {
			text-align: right;
		}
	}

	.show-container {
		display: block;
	}

	.hide-container {
		display: none;
	}

}
