#main {
	padding: 25px;
}
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #34495e;
	border: 1px solid #99bce0;
	color: #fff;
	font-size: 18px;
}
.item-title, .item-category, .item-deleted-by {
	width:1%;
	white-space:nowrap;
}
tr.bin-item-row:hover {
	background-color: grey;
}



