* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tabs {
  margin: 25px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.tabs_labels {
  margin: 0;
  padding: 0;
}
.tabs_labels li {
  display: inline-block;
}
.tabs_labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabs_labels li a.active-tab {
  border-bottom-color: #337ab7;
}
.tabs_content {
  padding: 25px;
}