@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

$header-color: #2c3e50;
$navbar-color: #34495e;
$border-color: #EDEDED;
$sidebar-width: 350px;