@import 'variables';

#topPanel {
	display: inline-block;
	width: 100%;
	background: #f3f2ff;
	padding: 10px 30px;
	box-sizing: border-box;
  	z-index: 0;

	#serachPanel{
		padding: 0 5%;
		
		.userInfo{
			position: relative;

			.logo{
				width: 90px;
				display: inline-block;

				img {
					width: 100%;
					border-radius: 50%;
				}
			}

			.credentials{
				position: absolute;
				top: 25%;
				left: 110px;
				font-size:18px;
				font-weight: 700;
				letter-spacing: 1px;
				word-spacing: 3px;
				display: inline-block;
			}
		}
	}
}
#quaterPanel{
	display:table;
	width: 90%;
	margin: 5px 5% 0;
	border-collapse: collapse;
}
#quaterList {
	display: table-row;
	
	.quater{
		border: 2px solid $header-color;
		padding: 5px;
		text-align: center;
		display: table-cell;
		color: $header-color; 
		cursor: pointer;
	}

	.active{
		background: $header-color;
		color: #fff;	
	}
	.quater:hover{
		background: $header-color;
		color: #fff;
	}
}