@import 'variables';

#topPanel {
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;

  #searchPanel{
    padding: 0 5%;

    .userInfo{
      position: relative;

      .logo{
        width: 90px;
        display: inline-block;

        img {

          width: 100%;
          border-radius: 50%;
        }
      }

      .credentials{
        position: absolute;
        top: 25%;
        left: 110px;
        font-size:18px;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 3px;
        display: inline-block;
      }
    }
  }
}
#quaterPanel{
  display:table;
  width: 90%;
  margin: 10px 5% 0;
  border-collapse: collapse;
}
#quaterList {
  display: table-row;

  .quater{
    border: 1px solid $header-color;
    padding: 5px;
    text-align: center;
    display: table-cell;
    color: $header-color;
    cursor: pointer;
  }

  .active{
    background: #99bce0;
    color: #fff;
  }
  .quater:hover{
    background: #99bce0;
    color: #fff;
  }
}