@import '../common/variables';

#objectives{
	.objective{
		margin: 30px 5% 20px;
		padding: 5px 15px 30px;
		background: lighten($color-blue-grey, 52%);
		border: 1px solid #dddddd;
		border-left: 10px solid #607D8B;
		border-radius: 3px;
		min-height: 100px;
		box-sizing: border-box;

		.name{
			display: inline-block;
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: 700;
		}

		.clone{
			clear: both;
			float: right;
			font-size: 14px;
			padding: 5px 10px;
			margin-top: 20px;
			margin-right: 0px;
			cursor: pointer;
		}
		.progress-bar{
			padding-top: 6px;
			margin-right: 40px;
			.progressValue {
				top: 10px;
			}
		}
		.description {
			margin-bottom: 10px;
		}
		
		.objective-info {
			margin-left: 40%;

			div	{
				display: inline-block;
				margin-right: 15%;
			}
			div:last-child{
				margin-right: 0;
			}

		}
	}
	.otherUserKR{
		margin: -50px 5% 0;
		.users-key-results{
			margin-left: 25px;
			.key-results-arrow {
				padding-left: 5px;
			}
			.easy{
				display: inline-block;
			}
			.intermediate{

			}
			.advanced{

			}
			.change {
				color: $color-blue;
				cursor: pointer;
				font-weight: bold;
			}
			.key-result-details span{
				color: #000;
				cursor: inherit;
				padding: 0 15px 0 0;
			}
			.display{
				display: block;
			}
			.undisplay{
				display: none;
			}
			ul {
				width: 100%;
				margin: 12px 0 0;
				padding: 0px;
				list-style: none;

				.user-key-result{
					padding: 20px 15px;
					background: lighten($color-blue-grey, 49%);
					border: 1px solid #ddd;
					border-top: none;
					

					div{
						display: inline-block;
					}
					.name{
						width: 45%;
					}
					.difficulty{
						font-size: 14px;
						width: calc(53% - 2.1em);
					}

					.score {
						box-sizing: border-box;					
						background: $color-green;
						border: 1px solid $color-green;
						border-radius: .3em;
						padding: 2px;
						height: 1.7em;
						width: 2.1em;
						line-height: 1.5em;
						text-align: center;
						font-weight: bold;
						color: $color-white;
					}
				}
			}
		}
		
	}
}
#quaterPanel{

  margin: 10px 5% 0;
  box-sizing: border-box;

  #quaterList {
 	list-style: none;
 	margin: 5px 0;
 	padding: 0;

  .quater{
    border: 1px solid #607D8B;
    display: inline-block;
    text-align: center;
    margin-left: -2px;
    padding: 7px;
    width: 21%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
  }
  .quater:last-child{
  	border-radius: 0 3px 3px 0;
  }
   .year{
   		width: 16.6%;
   		border: 1px solid #607D8B;
   		padding: 6px 10px;
    	display: inline-block;
    }

  .active{
   background-color: $color-blue-grey;
   color: #fff;
  }
  .quater:hover{
    background: #e4eaec;
    color: #000;
  }
}
}

.other-user-category {

  p {
	color: #aaaaaa;
	font-size: 20px;
	text-align: center;
	position: relative;
	padding: 4px;
	margin: 20px 5% 0 0;
  }

  p > span {
	display: inline-block;
	padding: 10px;
	position: relative;
	background: lighten($color-blue-grey, 50%);
	z-index: 10;
  }

  p:after {
	content: '';
	display: block;
	position: absolute;
	top: 25px;
	left: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid #aaaaaa;
	z-index: 0;
  }

}

#topPanel {
  display: inline-block;
  width: 100%;
  padding: 0px 5% 10px;
  box-sizing: border-box;

    .userInfo{
      position: relative;

	.apprentice{
		float: right;
		font-size: 14px;
		padding: 5px 10px;
		margin-right: 6px;
		cursor: pointer;
	}

      .logo{
        width: 90px;
        display: inline-block;

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      .credentials{
        position: absolute;
        top: -2px;
        left: 110px;
        font-size:22px;
        font-weight: 700;
        display: inline-block;

        div{
        	width: 200px;
			margin: 10px 0;
			position: relative;
			img{
    				width: 40px;
				    border-radius: 50%;
				    margin: 0px;
    		}
			.mentorName{
				.mentorTitle{
					color: #aaa;
				}
				    position: absolute;
				    top: -2px;
				    line-height: 20px;
				    font-size: 14px;
				    font-weight: 400;
				    padding-left: 7px;
			}
		}
		.mentor{
			font-size:22px;
		}	
        p{
        	padding-left: 0;
          	font-weight: 400;
        }
      }

    }
}
