@import '../common/variables';

#user-objectives{
	p{
		padding-left: 0;
		padding-right: 0;
	}
	.objective{
		position: relative;
		margin: 0;
    padding: 17px 17px 45px;
    background: lighten($color-blue-grey, 52%);
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 3px;
    min-height: 90px;
    box-sizing: border-box;

		.name{
			display: inline-block;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 700;
		}

		.clone{
			position: absolute;
			bottom: 20px;
			right: 15px;
			font-size: 14px;
			padding: 5px 10px;
			cursor: pointer;
			z-index: 2;
		}
		.progress-bar{
			padding-top: 0px;
			margin-right: 40px;
			.progressValue {
				top: 4px;
			}
		}
		.description {
			color: #777;
	    font-size: 15px;
	    margin-bottom: 15px;
	    width: 75%;
	    line-height: 18px;
		}
		
		.objective-info {
			margin-left: 40%;

			div	{
				display: inline-block;
				margin-right: 15%;
			}
			div:last-child{
				margin-right: 0;
			}

		}
	}
	/* .otherUserKR{
		.users-key-results{
			margin-top: -48px;
    	position: relative;
    	margin-left: 18px;
    	margin-bottom: 40px;
    	.key-result-details{
        margin-top: 20px;
        margin-bottom: -20px;
      }
			.change {
				cursor: pointer;
        padding: 5px 10px;
			}
			
			.display{
				display: block;
				margin-bottom: 20px;
			}
			.undisplay{
				display: none;
			}
		}
	} */
}
#quaterPanel{

  margin: 10px 5% 0;
  box-sizing: border-box;

  #quaterList {
 	list-style: none;
 	margin: 5px 0;
 	padding: 0;

  .quater{
  	color: $color-blue-grey;
    border: 1px solid #607D8B;
    display: inline-block;
    text-align: center;
    margin-left: -2px;
    padding: 7px;
    width: 21%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
  }
  .quater:last-child{
  	border-radius: 0 3px 3px 0;
  }
   .year{
   		width: 16.6%;
   		border: 1px solid #607D8B;
   		padding: 6px 10px;
    	display: inline-block;
	 	background-color: #607D8B;
	 	color: #ffffff;
    }

  .active{
   background-color: $color-blue-grey;
   color: #fff;
  }
  .quater:hover{
  	color: $color-blue-grey;
    background: #e4eaec;
  }
}
}

.other-user-category {

  p {
	color: #aaaaaa;
	font-size: 20px;
	text-align: center;
	position: relative;
	padding: 4px;
	margin: 20px 5% 0 0;
  }

  p > span {
	display: inline-block;
	padding: 10px;
	position: relative;
	background: lighten($color-blue-grey, 50%);
	z-index: 10;
  }

  p:after {
	content: '';
	display: block;
	position: absolute;
	top: 25px;
	left: 0;
	height: 0;
	width: 100%;
	border-top: 1px solid #aaaaaa;
	z-index: 0;
  }

}

#topPanel {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;

    .userInfo{
      position: relative;

	.apprentice{
		float: right;
		font-size: 14px;
		padding: 5px 10px;
		margin-right: 6px;
		cursor: pointer;
	}

      .logo{
        width: 75px;
        display: inline-block;

        img {
          width: 100%;
          border-radius: 3px;
        }
      }

      .credentials{
        position: absolute;
        top: -2px;
        left: 90px;
        font-size:22px;
        font-weight: 700;
        display: inline-block;

        div{
        	width: 200px;
			margin: 10px 0;
			position: relative;
			img{
    				width: 40px;
				    border-radius: 50%;
				    margin: 0px;
    		}
			.mentorName{
				.mentorTitle{
					color: #aaa;
				}
				    position: absolute;
				    top: -2px;
				    line-height: 20px;
				    font-size: 14px;
				    font-weight: 400;
				    padding-left: 7px;
			}
		}
		.mentor{
			font-size:22px;
		}	
        p{
        	padding-left: 0;
          	font-weight: 400;
        }
      }

    }
}
