@import 'variables';
#objectives{
	.objective{
		margin: 20px 5%;
		padding: 5px 15px;
		border: 1px solid #dddddd;
		border-left: 15px solid #607D8B;
		border-radius: 3px;
		min-height: 80px;

		.name{
			display: inline-block;
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: 700;
		}
		span.plus-icon{
			clear: both;
			float: right;
			font-size: 25px;
			padding-top: 10px;
			cursor: pointer;
		}
		.description {
			margin-bottom: 10px;
		}
		.users-key-results{
			margin: -20px 0 5px 10px;
			span{
				padding-left: 5px;
			}
			.change{
				color: #0080ff;
				cursor: pointer;
			}
			.key-result-details span{
				color: #000;
				cursor: inherit;
				padding: 0 15px 0 0;
			}
			.display{
				display: block;
			}
			.undisplay{
				display: none;
			}
			ul {
				margin: 5px 0 0;
				padding-left: 5px;

				li{
					margin: 10px;
					display: block;
				}
				.completed{
					text-decoration: line-through;
				}
			} 
		} 
		.progress-bar{
			float: right;
			padding-top: 10px;
			width: 30%;
			position: relative;

			.progressValue {
				position: absolute;
				top: 28%;
				left: 45%;
			}
			progress[value]{
				width: 100%;
				-webkit-appearance: none;
				appearance: none;
			}
		}
		::-webkit-progress-bar {
			border: 1px solid #a0a0a0;
	    	background: #eee;
	    	background: -webkit-linear-gradient(top, #fff 0%,#eee 50%); 
			background: linear-gradient(to bottom, #fff 0%,#eee 50%); 
		}
		::-webkit-progress-value {
	    	background: #7fda57;
			background: -webkit-linear-gradient(top, #f8ffe8 0%,#7fda57 50%); 
			background: linear-gradient(to bottom, #f8ffe8 0%,#7fda57 50%); 
		}
		::-moz-progress-bar {
	    	border: 1px solid #a0a0a0;
	    	background: #eee;
	    	background: -moz-linear-gradient(top, #fff 0%, #eee 50%);
		}
		::-moz-progress-value {
		    background: #7fda57;
		    background: -moz-linear-gradient(top, #f8ffe8 0%, #7fda57 50%);
		}
		.objective-info {
			margin-left: 40%;

			div	{
				display: inline-block;
				margin-right: 15%;
			}
			div:last-child{
				
				margin-right: 0;
			}
			
			.co-workers{
				position: relative;
				span {
				    position: absolute;
			    	top: 5px;
			   		left: 30px;
				}
			}
			.followed{
				position: relative;
				span {
				    position: absolute;
			    	top: 5px;
			   		left: 30px;
				}
			}
		}
	}
}
#quaterPanel{
  width: 90%;
  margin: 10px 5% 0;

  #quaterList {
 	list-style: none;
 	display: inline-block;
 	width: 90%;
 	margin: 5px 0;
 	padding: 0;

  .quater{
  	border: 2px solid #607D8B;
  	display: inline-block;
  	text-align: center;
  	width: 15%;
  	margin-right: -2px;
    padding: 10px 4%;
    color: $header-color;
    cursor: pointer;
  }
  .quater:first-child{
  	border-radius: 5px 0 0 5px;
  }
  .quater:last-child{
  	border-radius: 0 5px 5px 0;
  }

   .year{
    	display: inline-block;
    }

  .active{
   background-color: #607D8B;
    color: #fff;
  }
  .quater:hover{
    background-color: #607D8B;
    color: #fff;
  }
}
}
