@import "_variables";

.history-item-list {

	table {
		width: 90%;
		margin: 24px auto 0px auto;
	}

	th, td {
		padding: $padding;
	}

	th {
		background-color: $color-main;
		border: 1px solid #000;
		color: #fff;
		font-size: 18px;
	}

	td {
		border: 1px solid #000;
	}
	
}