@import "normalize";
@import "_variables";

.history-item {
  padding: $padding;
  border-bottom: 2px solid $border-color;
  display: flex;
  flex-direction: row;
}

.history-item-user-avatar-container {
  height: 70px;
  width: 70px;
}

.history-item-user-avatar {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.history-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
}

.history-item-author {
  font-weight: bold;
  font-size: $font-size;
  color: $color-main;
}

.history-item-date {
  display: flex;
  flex-direction: row;
}

.history-item-date-icon-container {
  color: #828282;
}

.history-item-date-info {
  min-width: 120px;
  padding-top: 6px;
  padding-left: $padding;
  padding-right: $padding;
  color: #828282;
}

.history-item-date-icon {
  width: auto;
}