@import "normalize";
@import "_variables";

.history-search-bar {
  display: flex;
  flex-direction: row;
}

.history-search-bar-input {
  display: block;
  height: 30px;
  width: 300px;
  padding: 0 12px 0 12px;
  border-radius: 0;
  border: none;
  border: 1px solid $color-main;
  border-right-width: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

// .btn {
//   display: inline-block;
//   border-radius: 3px;
//   border: 1px solid $color-main;
//   font-family: 'Roboto', sans-serif;
//   font-size: $font-size;
//   background-color: $color-white;
// }

// .btn:hover {
//   color: #fff;
//   border-color: #6aa84f;
//   background-color: #6aa84f;
// }

.btn-search {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}