@import "../../common/variables";
@import '../../common/styles/commonStyles';

.dashboard-tabs{

	ul{
		list-style-type: none;
		overflow: hidden;
		margin: 10px 0 0 0;
	}
	
	.tab{
		display: table-cell;
		width:100px;
		border: 1px solid #2c3e50;
		padding: 4px;
		cursor: pointer;
	}

	.mainTabs{
		width: 200px;
		margin: 0 auto;
	}

	.tab:hover{
		background: #2C3E50;
   		color: #fff;
	}

	.hideTab{
		visibility: hidden;
		overflow:hidden;
	}

	.showTab{
		visibility:visible;
		height: 100%;
		overflow:hidden;
	}

	.tabLine{
		display:table-row;
		text-align: center;
	}

	.tab-wrapper {
		display:table;
		margin-bottom: 10px;
		border-collapse: collapse;
	}

	.active {
		background: #2C3E50;
   		color: #fff;
	}
	
}