@import "../variables";

.star-rating {
  float: right;
  width: 4em;
  position: relative;
  text-align: center;
  margin-top: -0.25em;

  &-cover{
    color: $color-grey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #eaeaea;
    font-size: 1.5em;
  }

  &:hover &-cover {
    visibility: hidden;
  }

  &__star {
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: $color-grey;
    transition: color .2s ease-out;

    &:hover {
      cursor: pointer;
    }

    &.is-selected {
      color: $color-green;
    }

    &.is-disabled:hover {
      cursor: default;
    }
  }
}