@import "../variables";

.difficulty-label{
  font-size: 0.75em;
  display: inline-block;
  background-color: $color-blue-grey;
  padding: 2px 5px;
  color: #fff;
  border-radius: 2px;
  margin-right: 5px;
}

.star-rating {
  float: right;
  width: 10em;
  text-align: center;
  margin-top: -0.35em;

  &__star {
    display: inline-block;
    padding-left: 1px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.7em;
    color: $color-grey;
    transition: color .2s ease-out;
    //margin-top: -7px;

    &:hover {
      cursor: pointer;
    }

    &.is-selected {
      color: $color-green;
    }

    &.is-disabled:hover {
      cursor: default;
    }
  }
}