@import '../../common/variables';

#role-mapping-wrapper {
	width: 100%;
}

.table-head #global-role-field {
    margin-right: 7px;
}

.table-head #name-field {
    margin-right: 7px;
}

#role-mapping-wrapper button i {
    color: white;
    font-size: 26px;
}

#role-mapping-wrapper .not-display {
   display: none;
}

#user-role-mapping-header-wrapper select {
    margin-left: 1%;
}

#role-mapping-wrapper h3 i {
   padding-right: 3px;
}

#role-mapping-wrapper .table-head h3.col-2 {
    cursor: pointer;
}

#role-mapping-wrapper .table-head h3.col-4 {
    cursor: pointer;
}

.table-head h3 {
    font-size: 16px;
}

#role-mapping-wrapper #global-role {
    margin-right: 7px;
}

#user-role-mapping-header-wrapper {
	width: 100%;
    display: flex;
    justify-content: center;
	overflow: hidden;
	padding-bottom: 15px;
}

#user-role-mapping-header-wrapper input {
    min-width: 435px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    padding: 10px;
    color: #777777;
    border-radius: 3px;
    float: left;
	width: 100%;
	
	margin-top: 0;
	outline:none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#user-role-mapping-header-wrapper button {
    float: left;
    border: none;
    margin-left: 1%;
	width: 100px;
    min-width: 100px;
	height: 100px;
	height: 40px;
	background: #03A9F4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    outline: none;
}

#user-role-mapping-header-wrapper button:hover {
     -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
     box-shadow: 0px 3px 10px rgba(0, 0, 0, .15);
     border: none;
     outline: none;
}

#user-role-mapping-header-wrapper button:active {
    background: #0288D1;
    border: none;
    outline: none;
}

#role-mapping-wrapper .table {
    box-sizing: border-box;
    background-color: #FFF;
    min-width: 535px;
	width: 100%;
	margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 50px;
    border: solid 1px #E0E0E0;
    border-bottom: none;
}

#role-mapping-wrapper #central-window {
    padding: 30px;
    padding-bottom: 0;
}

#role-mapping-wrapper h3 {
	height: 38px;
	line-height: 40px;
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
}

#role-mapping-wrapper .col-1 {
	width: 14%;
	margin-left: 1%;
}

#role-mapping-wrapper .col-2 {
	width: 24%;
}

#role-mapping-wrapper .col-3 {
	width: 19%;
}

#role-mapping-wrapper .col-4 {
	width: 18%;
}

#role-mapping-wrapper .col-5 {
	width: 24%;
}

#role-mapping-wrapper .table-head {
	background: #607D8B;
    color: white;
	height: 40px;
	border-bottom: solid 1px #E0E0E0;
}

#role-mapping-wrapper .table-row {
	height: 50px;
	display: flex;
	align-items: center;
	border-bottom: solid 1px #E0E0E0;
}

#role-mapping-wrapper .table-row:hover {
	background-color: #ECEFF1;
}

#role-mapping-wrapper .table-row img {
	width: 32px;
	height: 32px;
	background: url("https://avatars3.githubusercontent.com/u/19537599?v=3&s=140") 100% 100% no-repeat;
	background-size: cover;
}

#role-mapping-wrapper h4 {
	font-weight: normal;
	float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#role-mapping-wrapper .table-row .col-5 {
	width: 15%;
}

#roles-table {
    color: #777;
    min-width: 300px;
	margin: 5px 15px 0;
    font-size: 14px;

    h3{
        font-size: 14px;
        font-weight: bold;
    }
}

#roles-table .table-head {
    color: #777;
    background: #e4eaec;
    border: none;
}

#roles-table .col-2 {
    width: 40%;
    margin-left: 10px;
}

#roles-table .table-row:hover {
   background: #eee;
}

#roles-table .col-1 {
    width: 14%;
    margin-left: 30px;
}

#role-mapping-wrapper #roles-table .col-1 {
	width: 40%;
}

#roles-table .table-row {
	height: 42px;
	display: flex;
	align-items: center;
    border: none;
	border-bottom: 1px dotted #ddd;
}

#role-mapping-wrapper #global-roles-p {
    margin: 30px 15px 0;
    min-width: 300px;
    width: 317px;
    span{
        font-size: 18px;
    }
}

#role-mapping-wrapper  p {
    box-sizing: border-box;
    color: #aaaaaa;
    font-size: 16px;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
    min-width: 535px;
    margin: 0 auto 35px;
}

#role-mapping-wrapper p span {
    display: inline-block;
    padding: 10px;
    position: relative;
    background: lighten($color-blue-grey, 50%);
    z-index: 10;
    font-size: 20px
}

#role-mapping-wrapper p:after {
    content: '';
    display: block;
    position: absolute;
    top: 22px;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid #aaaaaa;
    z-index: 0;
}


#role-mapping-wrapper select {
	border: 1px solid #d3d3d3;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    padding: 4px;
    outline:none;
}


#role-mapping-wrapper input:focus{
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}


#role-mapping-wrapper aside span {
    background: #F9FAFB;
}

