@font-face {
	font-family: "Fira Sans";
	src: url("./FiraSans.eot");
	src: url("./FiraSans.eot?#iefix") format("embedded-opentype"),
	url("./FiraSans.woff") format("woff"),
	url("./FiraSans.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}