@import "../components/common/variables";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700,700i&subset=cyrillic");

@import '../../node_modules/normalize.css/normalize.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: 400;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

aside,
#central-window {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  padding-left: 10%;
}

.show {
  visibility: visible !important;
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear;
}

.hide {
  visibility: hidden !important;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.hidden {
  display: none !important;
}

#application {
}