@import "../components/common/variables";

#central-window {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   margin-right: $right-stat-panel-width;
   overflow-y: scroll;
   overflow-x: hidden;
   &.full-screen {
      margin-right: 0;
   }
   
   .main-content {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px;
   }
}