header {
   height: 70px;
   background-color: #2c3e50;
   padding-right: 20px;
   z-index: 100;
}
/*
** User info
*/
.user-info {
   float: right;
   padding-left: 20px;
}
.user-info .logo {
   height: 70px;
   width: 70px;
   margin-left: 20px;
   overflow: hidden;
   float: right;
   cursor: pointer;
}
.user-info .logo img {
   display: block;
   height: 100%;
}
.user-info .credentials {
   float: left;
   margin: 16px 0;
   text-align: right;
   color: #ffffff;
}
.user-info .credentials .field {
   font-family: 'Lato', sans-serif;
   color: #ccc;
   font-weight: 300;
   font-style: italic;
}
/*
** Bars menu button
*/
#bars {
   display: block;
   float: left;
   width: 60px;
   height: 70px;
   text-align: center;
   background: none;
   border: none;
   cursor: pointer;
}
#bars:focus,
#bars:active {
   outline: none;
}
#bars i {
   color: #dddddd;
   cursor: pointer;
   pointer-events: none;
}
#bars:hover i {
   color: #ffffff;
}
#bars.active i {
   color: #ffffff;
}