@import "../components/common/variables";

#main {
   position: absolute;
   right: 0;
   left: 208px;
   top: $header-height;
   background-color: lighten($color-blue-grey, 50%);
   bottom: 0;
   overflow-y: overlay;
}

@media all and (max-width: 1599px) {
	 #main {
		  left: $left-nav-width;
	 }
 }