@import "../components/common/variables";
@import "../components/common/styles/media";

#main {
   position: absolute;
   right: 0;
   left: $left-nav-width;
   top: $header-height;
   background-color: lighten($color-blue-grey, 50%);
   bottom: 0;
   //noinspection CssInvalidPropertyValue
   overflow-y: overlay;
}

 .placeholder {
    color: #555;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5%;
}

 @include desktopL {
    #main{
       left: $left-nav-width-opened;
    }

@media all and (max-width: 500px) {
   #main {
      left: 0;
   }
 }