@import "../components/common/variables";

#main{
   position: absolute;
   right: 0;
   left: $left-nav-width;
   top: $header-height;
   background-color: lighten($color-blue-grey, 50%);
   bottom: 0;
}