@import "../components/common/varaibles";

aside#inter-panel {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: $right-stat-panel-width;
   background-color: #ddd;
   overflow-y: auto;
   overflow-x: hidden;
}