aside#inter-panel {
	position: absolute;
	top: 0;
	right: 0;
   height: 100%;
   width: 350px;
   background-color: #ddd;
   z-index: 0;
}
aside#inter-panel:before {
   content: '';
   display: block;
   padding-top: 70px;
}