@import "../components/common/variables";

aside#inter-panel {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   border-left: 1px solid #DBDBDB;
   width: $right-stat-panel-width;
   background-color: #F9FAFB;
   //noinspection CssInvalidPropertyValue
   overflow-y: overlay;
   overflow-x: hidden;
}

@media screen
and (max-width: 1100px) {
   aside#inter-panel {
      position: relative;
      display: block;
      margin: 0 30px;
      margin-bottom: 30px;
      width: auto;
      border: 1px solid #DBDBDB;
   }
}