@import "../common/variables";
@import '../common/styles/commonStyles';

.autocomplete-123 {
  position: relative;
  display: table-cell;
  width: 100%;

  .input-key-result {
    width: 100%;
    padding: .5em 1em;
    box-sizing: border-box;
  }

  .autocomplete-result {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 2px 1px 4px 1px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 2;
  }

  .autocomplete-result-ul {
    width: 100%;
    padding: 0;
    margin: 7px 0;
    overflow: auto;
  }

  .autocomplete-result-li {
    list-style: none;
    padding: 3px 10px;
    color: #777;
    cursor: pointer;
  }

  .autocomplete-result-li:hover {
    &:not(.inactive) {
      color: #555;
      background-color: lighten($color-blue-grey, 45%);
    }
  }

  .autocomplete-result-li.active {
    &:not(.inactive) {
      background: #ddd;
    }
  }

  .autocomplete-result-item-text {
    display: inline-block;
    //padding-left: 5px;
    //padding-top: 5px;
  }

  .difficulty{
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px 6px;
    background-color:  $color-blue-grey;
    color: #fff;
    border-radius: 2px;
  }

  .inactive{
    color: $color-grey;
  }

  .red-border {
  border-color: red;
  }
}
