@import '../common/variables';
@import '../common/styles/images';

#usersList {
	.users-title {
	clear: both;

	p {
		color: #aaaaaa;
		font-size: 20px;
		text-align: center;
		position: relative;
		padding: 4px;
		width: 98%;
		margin: 0 5px;
	}

	p > span {
		display: inline-block;
		padding: 10px;
		position: relative;
		background: lighten($color-blue-grey, 50%);
		z-index: 10;
	}

	p:after {
		content: '';
		display: block;
		position: absolute;
		top: 28px;
		left: 0;
		height: 0;
		width: 100%;
		border-top: 1px solid #aaaaaa;
		z-index: 0;
	}
	}
	.searchBar {
		float: right;
		width: 30%;
		padding: 10px;
		margin-right: 5px;
		padding-left: 30px;
		font-size: 16px;
		background: $search-jpg no-repeat;
		background-size: contain;
		background-color: white;
	}
}

.listOfUsers {
	list-style: none;
    padding: 5px;
    margin-top: 10px;
    margin-left: -3%;

	.userItemDiv{
		background: #f9fafb;
	    border: 1px solid #99bce0;
	    border-left: 10px solid #607D8B;
	    margin-bottom: 15px;
    	padding: 10px 5px;
	    -webkit-transition: all .15s;
	    -moz-transition: all .15s;
	    -o-transition: all .15s;
	    transition: all .15s;
	    width: 47%;
	    margin-left: 3%;
	    box-sizing: border-box;
	    display: inline-block;
		
		&:hover{
			background-color: #fff;
		}
		&:hover ::-webkit-progress-bar{
			border: 4px solid #fff;
		}
	}
	
	.userItem{
		position: relative;
		color: $primary-color;
		padding: 5px 0;

		.userPhoto{
			max-width: 100px;
		}
		.userInfo{
			display: inline-block;
		    position: absolute;
		    top: 0;
		    width: 38%;

			.userName {
				font-weight: bold;
			}
			div{
				margin: 6px 0;
    			position: relative;

    			img{
    				width: 35px;
				//    border-radius: 50%;
				    margin: 0px;
    			}
				.mentorName{
					position: absolute;
				    top: 0px;
				    line-height: 18px;
				    font-size: 12px;
				    padding-left: 5px;

					.mentorTitle{
						color: #aaa;
					}
				}

			}
			.mentor{
				font-size:22px;
			}
		}
		.progressTitle {
			margin-left: 2%;
    		font-size: 14px;
		}
		.progress-bar{
			margin-right: 10%; 
			width: 37%;
		    padding-top: 20px;
			
			.progressValue {
				top: 40px;
			}
		}	

			img{
				margin: 0 10px;
    			width: 60px;
			}
		}

	.userItem:hover{
		cursor: pointer;
	}
}

@media all 
    and (max-width: 1440px)
    and (min-width: 1000px)
{
	.listOfUsers {
		.userItemDiv{
		    width: 97%;
		    margin-left: 3%;
		    display: block;

			.progressTitle {
				margin-left: 2%;
	    		font-size: 14px;
			}
			.progress-bar{
				margin-right: 50px; 
				width: 30%;
			    padding-top: 10px;
				
				.progressValue {
					top: 30px;
				}
			}	
		}
	}
}