@import 'variables';

#usersList {
	position: fixed;
	top: 70px;
	left: 60px;
  	bottom: 0;
	z-index: 25;
	background: #fff;
	width: 280px;
	max-width: $sidebar-width;
	border-right: 2px solid $border-color;
	border-bottom: 2px solid $navbar-color;
	box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

	input[type='text'] {
		height: 55px;
		width: 100%;
		font-size: 16px;
		padding: 10px;
		padding-left: 17%;
		border: none;
		border-bottom: 2px solid $border-color;
		outline: none;
		background: url('https://pp.vk.me/c633829/v633829341/473c0/QvHFhU8EclE.jpg') no-repeat;
		background-size: contain;
		box-sizing: border-box;
	}
}
.display{
	display: block;
}
.undisplay{
	display: none;
}
.listOfUsers {
	height: calc(100% - 55px);
	list-style: none;
	padding: 0;
	margin: 0;
    word-spacing: 2px;
    overflow-y: auto;
    overflow-x: hidden;

	.userItem{
		position: relative;
		color: $header-color;

		div{
			display: inline-block;
			position: absolute;
			top: 35%;
			width: 80%;
			padding-bottom: 22px;
			border-bottom: 1px solid $border-color;
		}

		img{
			margin: 5px 10px 2px;
			width: 50px;
			border-radius: 50%; 
		}
	}

	.userItem:hover{
		cursor: pointer;
		color: #fff;
		background-color: #99bce0;
	}

	.userItem:last-child div{
    	border-bottom: none;
	}
}


