@import 'variables';

input[type=text],
select,
textarea{
	border: 1px solid #d3d3d3;
	color: #777;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;

	&:focus {
		outline: none;
		-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	}
}

#usersList {
	margin-top: 20px;
	margin-left: 5%;

	.title{
		padding: 0 10% 10px;
		font-size: 22px;
		font-weight: 700;
		display: inline-block;
	}
	input[type='text'] {
		float: right;
		width: 30%;
		padding: 10px;
		margin-right: 10%;
		padding-left: 35px;
		font-size: 16px;
		background: url('https://pp.vk.me/c633829/v633829341/473c0/QvHFhU8EclE.jpg') no-repeat;
		background-size: contain;
	}
}

.listOfUsers {
	width: 89%;
	list-style: none;
	padding: 5px;
	margin-top: 10px;

	.userItem{
	    //border-bottom: 1px solid #aaa;
		position: relative;
		color: $header-color;
		padding: 5px 0;

		.userPhoto{
			max-width: 100px;
		}
		.userInfo{
			display: inline-block;
			position: absolute;
			top: 10%;
			width: 30%;

			.mentor{
				font-size: 12px;
				margin-top: 10px;
			}
		}
		.progress-bar{
			    margin-top: 2%;
			    position: relative;
			    display: inline-block;
			    width: 30%;
			    float: right;
			    margin-right: 30%;

			.progressValue{
				position: absolute;
				top: 0;
				left: 40%;
			}

		progress[value]{
			width: 100%;
			-webkit-appearance: none;
			appearance: none;
		}
		}
		::-webkit-progress-bar {
			border: 1px solid #a0a0a0;
	    	background: #eee;
	    	background: -webkit-linear-gradient(top, #fff 0%,#eee 50%);
			background: linear-gradient(to bottom, #fff 0%,#eee 50%);
		}
		::-webkit-progress-value {
	    	background: #7fda57;
			background: -webkit-linear-gradient(top, #f8ffe8 0%,#7fda57 50%);
			background: linear-gradient(to bottom, #f8ffe8 0%,#7fda57 50%);
		}
		::-moz-progress-bar {
	    	background: #7fda57;
	    	background: -moz-linear-gradient(top, #f8ffe8 0%, #7fda57 50%);
		}
		::-moz-progress-value {
		    background: #7fda57;
		    background: -moz-linear-gradient(top, #f8ffe8 0%, #7fda57 50%);
		}
			img{
				margin: 5px 10px 2px;
				width: 50px;
			}
		}

	.userItem:hover{
		cursor: pointer;

	}
}
