
.userItem {

  padding-left: 20px;


}




.userItemDiv{
  border: 1px solid #99bce0;
  border-left: 10px solid #34495e;
  margin-bottom: 10px;
  //background-color: red;
  margin-left: 50px;
  padding: 15px;
  //border-bottom: none;
}
