@import '../variables';
@import '../styles/commonStyles';

.key-results {
  margin-top: -48px;
  position: relative;
  margin-left: 18px;
  margin-bottom: 40px;

  .key-result-details {
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .change {
    cursor: pointer;
    padding: 7px 10px;
    margin-bottom: -4px;

    &:focus{
			outline: none;
			-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
			-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
			box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		}
  }

  .display {
    display: block;
  }

  .undisplay {
    display: none;
  }

  .key-result-details-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li.key-result {
      position: relative;
      border: 1px solid #c5c5c5;
      border-top: none;
      background-color: #eaeaea;
      padding: 10px 15px;

      .keyResult-title{
        width: 40%;
        padding: 4px 8px;
        margin-top: -4px;
      }

      .approved {
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
      }

      .btn-red-hover:focus{
        color: #fff;
        background-color: darken($color-red, 10%);
      }
      .btn-blue-hover:focus{
        color: #fff;
        background-color: darken($color-blue, 10%);
      }
     	.btn-red:focus{
        color: #fff;
        background-color: darken($color-red, 10%);
      }
      .btn-green:focus{
        color: #fff;
        background-color: darken($color-green, 10%);
      }
      div {
        display: inline-block;
      }

      .key-result-title {
        width: 45%;
      }

      .easy {
        :first-child {
          background-color: $color-green;
        }
      }

      .intermediate {
        div:nth-child(1),
        div:nth-child(2) {
          background-color: $color-green;
        }
      }

      .advanced div {
        background-color: $color-green;
      }

      .score {
        margin-top: -4px;
        margin-left: 15px;
        display: inline-block;
        float: right;
        box-sizing: border-box;
        font-size: 15px;
        background: $color-green;
        border: 1px solid $color-green;
        border-radius: .3em;
        padding: 2px;
        height: 1.7em;
        width: 2.1em;
        line-height: 1.5em;
        text-align: center;
        color: $color-white;
      }

      .keyScore {
        margin-top: 4px;
        display: inline-block;
        float: right;
      }

      .key-result-edit-button {
        margin-top: -4px;
        margin-left: 10px;
        display: inline-block;
        float: right;
        box-sizing: border-box;
        font-size: 15px;
        padding: 2px;
        height: 1.7em;
        width: 1.7em;
        line-height: 1.5em;
        text-align: center;
      }

      .key-result-cancel-button {
        margin-top: -4px;
        margin-left: 5px;
        display: inline-block;
        float: right;
        box-sizing: border-box;
        font-size: 15px;
        padding: 2px;
        height: 1.7em;
        width: 1.7em;
        line-height: 1.5em;
        text-align: center;
      }

      .key-result-delete-button {
        margin-top: -4px;
        margin-left: 5px;
        display: inline-block;
        float: right;
        box-sizing: border-box;
        font-size: 15px;
        padding: 2px;
        height: 1.7em;
        width: 2.1em;
        line-height: 1.5em;
        text-align: center;
      }
    }
  }

  #new-obj-keyresults {
    margin-bottom: 25px;
    list-style-type: none;
    border: 1px solid #c5c5c5;
    border-top: none;
    background-color: #eaeaea;
    padding: 10px 15px;

    .add-new-keyresult-btn {
      display: inline-block;
      cursor: pointer;
      color: $color-green;

      &:hover {
        color: darken($color-green, 10%);
        text-decoration: underline;
      }
    }

    .display {
      display: block;
    }

    .undisplay {
      display: none;
    }
  }
}
