@import "../styles/media";

/*
**  Desktops
*/
@include desktop {
  #objectives .home-objective {
    //styles go here
  }
}

/*
**  Laptop
*/
@include laptop {

}

/*
**  Tablet
*/
@include tablet {
	.range{
		width: 75px;
	}
	#objectives {
		.home-objective {
			.name {
	    	width: 55%;
	    }
	    .name-input {
		    width: 50%;
			}
			.description-textarea {
     		width: 70%;
  		}
		}
	}
	.key-results .key-result-details-ul li.key-result .key-result-title {
    width: 97%;
    margin-bottom: 12px;
	}
	.star-rating {
    width: 8em;
    margin-top: -0.35em;
	}
}

/*
**  Mobile
*/
@include mobile {

	.range{
		width: 75px;
	}
	#objectives {
		.home-objective {
			padding: 10px 10px 38px;
			.name {
	    	width: 50%;
	    }
	    .name-input {
		    width: 40%;
			}
			.description-textarea {
     		width: 65%;
     		margin-bottom: 20px;
  		}
		}
	}
	.delete-button-objective,
	.objective-edit,
	.save,
	.cancel-button-objective {
		margin-top: -12px;
	}
	.key-results{
		margin-left: 11px;
	}
	.key-results .key-result-details-ul li.key-result {
    padding: 8px;
    .key-result-cancel-button {
    	margin-top:0;
    }
    .key-result-edit-button {
	    margin-top: 0;
	  }
    .keyResult-title {
	    width: 65%;
	    padding: 4px 8px;
	    margin-top: -4px;
		}
		.key-result-title {
	    width: 97%;
	    margin-bottom: 12px;
		}
	}
	.star-rating {
    width: 8em;
    margin-top: 0.65em;
    clear: both;
    float: right;
	}
}


@media screen and (max-width: 530px) {
	.star-rating {
	    width: 8em;
	    margin-top: 0.65em;
	    clear: both;
	    float: right;
	}
}