#topPanel {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;

  .userInfo{
    position: relative;

    .apprentice{
      float: right;
      font-size: 14px;
      padding: 5px 10px;
      margin-right: 6px;
      cursor: pointer;
    }

    .logo{
      width: 75px;
      display: inline-block;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    .credentials{
      position: absolute;
      top: -2px;
      left: 90px;
      font-size:22px;
      font-weight: 700;
      display: inline-block;

      div{
        width: 200px;
        margin: 10px 0;
        position: relative;
        img{
          width: 40px;
          border-radius: 50%;
          margin: 0px;
        }
        .mentorName{
          .mentorTitle{
            color: #aaa;
          }
          position: absolute;
          top: -2px;
          line-height: 20px;
          font-size: 14px;
          font-weight: 400;
          padding-left: 7px;
        }
      }
      .mentor{
        font-size:22px;
      }
      p{
        padding-left: 0;
        font-weight: 400;
      }
    }

  }
}