@import '../../common/variables';
@import '../../common/styles/commonStyles';

.category{
	.visible-category-content{
		height: auto;
	}

	.hidden-category-content{
		height:0;
		overflow:hidden;
	}

	.category-title{
		cursor: pointer;
		color: #777;
		i{
			margin-right: 5px;
			font-size: 20px;
		}
		.obj-count-panel{
			background: #607d8b;
			padding: 2px 8px;
			color: #fff;
			font-size: 16px;
			border-radius: 4px;
			margin-left: 5px;
		}
	}
	
	.category-title-container{
		padding: 1px;
		&:before{
			top: 23px;
		}
	}
}

.home-objective{
	.delete-button-objective{
		margin-top: -40px;
		float: right;
		display: block;
		width: 20px;
	}

	.save{
		margin-top: 40px;
		margin-right: 40px;
		float: right;
		display: block;
		width: 20px;
	}

	.hidden {
		display: none;
	}

	.objective-edit {
		display: block;
		float: right;
		margin-right: 45px;
		margin-top: -25px;

		&:hover {
			color: #4caf50;
			cursor: pointer;
		}
	}

	.description-textarea {
		width: 65%;
		margin-bottom: 10px;
	}
}