@import '../../common/variables';
@import '../../common/styles/commonStyles';

.category{
	.visible-category-content{
		max-height: 5000px;
		transition: 0.4s;
	}

	.hidden-category-content{
		max-height:0;
		overflow:hidden;
		transition: 0.4s;
	}

	.category-title{
		cursor: pointer;

		i{
			margin-right: 5px;
			font-size: 15px;
		}
	}
	
	.category-title-container{
		padding: 1px;
	}
}