@import '../../common/variables';
@import '../../common/styles/commonStyles';

.category{
	.visible-category-content{
		height: 100%;
		overflow: hidden;
	}

	.hidden-category-content{
		height:0;
		overflow:hidden;
	}

	.category-title{
		cursor: pointer;

		i{
			margin-right: 5px;
			font-size: 15px;
		}
	}

}